.dang_cho_duyet {
    font-size: 14px;
    font-weight: 500;
    color: sandybrown;
  }
  .da_duyet {
    font-size: 14px;
    font-weight: 500;
    color: green;
  }
  .tu_choi_duyet {
    font-size: 14px;
    font-weight: 500;
    color: red;
  }
  