<app-header-form [crumbs]="[
{Title:'Nhập xuất',Path:''}
,{Title:'Dược phẩm',Path:''}
,{Title:'Dự trù mua',Path:''}
,{Title:'THDT Mua Tại K.Dược',Path:'/nhap-xuat/duoc-pham/tong-hop-mua-thuoc-tai-khoa-duoc',queryParams: {holdQuery : true},Active:true}
]" [isicMoreVert]="false">
</app-header-form>
<div [@stagger]="true" class="p-gutter" vexContainer>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div @fadeInUp class="card" fxFlex="auto">
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title m-0" *ngIf="thongTinDuTruMuaDuocPhamTaiKhoaDuocGoi.TrangThai != '0'">Chi Tiết Gửi Tổng Hợp Dự Trù Mua Dược Phẩm </h2>
                <h2 class="title m-0" *ngIf="thongTinDuTruMuaDuocPhamTaiKhoaDuocGoi.TrangThai == '0'">Gửi Tổng Hợp Dự Trù Mua Dược Phẩm </h2>
                <b
                    class="status-yeu-cau-linh trang-thai t{{thongTinDuTruMuaDuocPhamTaiKhoaDuocGoi.TrangThai}}">{{thongTinDuTruMuaDuocPhamTaiKhoaDuocGoi.TrangThaiHienThi}}</b>
            </div>
            <div class="px-6 py-4" fxLayout="column">
                <app-goi-giam-doc-du-tru-mua-duoc-pham-shared (dataItem)="getDataItem($event)">
                </app-goi-giam-doc-du-tru-mua-duoc-pham-shared>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="form-footer">
                    <button type="button" (click)="huy()" mat-button class="mr-1 align-right-fx" *ngIf="thongTinDuTruMuaDuocPhamTaiKhoaDuocGoi.TrangThai == '3' || thongTinDuTruMuaDuocPhamTaiKhoaDuocGoi.TrangThai == '4' || thongTinDuTruMuaDuocPhamTaiKhoaDuocGoi.TrangThai == '5'"><i class="ft-arrow-left" ></i> Quay lại
                    </button>
                    <button type="button" (click)="huy()" mat-button class="mr-1 align-right-fx" *ngIf="thongTinDuTruMuaDuocPhamTaiKhoaDuocGoi.TrangThai == '0'"><i class="ft-arrow-left"  ></i> Hủy
                    </button>
                    <button type="button" (click)="goi()"  *ngIf="thongTinDuTruMuaDuocPhamTaiKhoaDuocGoi.TrangThai == '0'" color="primary" mat-raised-button><i class="ft-save"></i> Gửi</button>
                </div>
            </div>
        </div>
    </div>

</div>