<app-header-form [isicMoreVert]="false" [crumbs]="[
                {Title:'Nhập xuất',Path:''}
                ,{Title:'Vật tư',Path:''}
                ,{Title:'Dự Trù Lĩnh',Path:''}
                ,{Title:'Yêu cầu lĩnh vật tư',Path:'/nhap-xuat/vat-tu/yeu-cau-linh-vat-tu'}
                ,{Title:'Vật tư cần lĩnh trực tiếp',Path:'/nhap-xuat/vat-tu/vat-tu-can-linh-truc-tiep',Active:true}
                ]">
    ></app-header-form>
<div [@stagger]="true" class="p-gutter" vexContainer>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div @fadeInUp class="card" fxFlex="auto">
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title m-0">Tạo phiếu lĩnh trực tiếp vật tư</h2>
            </div>
            <div class="px-6 py-4" fxLayout="column">

                <app-phieu-linh-vat-tu-truc-tiep-shared [isCreate]="false" [validationErrorsLinhTT]="validationErrors">
                </app-phieu-linh-vat-tu-truc-tiep-shared>

                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="form-footer">

                    <button type="button" *ngIf="!loading" (click)="xemPhieuLinh()" color="primary" mat-raised-button
                        mat-button class="mr-1 align-right-fx"><i class="ft-save"></i> Xem phiếu lĩnh</button>
                    <button type="button" (click)="cancel()" mat-raised-button><i class="ft-arrow-left"></i>
                        Hủy</button>
                    <button type="button" *ngIf="!loading" (click)="create(false)" color="primary" mat-raised-button><i
                            class="ft-save"></i> Lưu</button>
                    <button type="button" *ngIf="!loading" (click)="create(true)" color="primary" mat-raised-button><i
                            class="ft-save"></i> Gửi</button>
                    <button *ngIf="loading" class="btn btn-raised btn-raised btn-primary mb-0"><img
                            src="/assets/img/loader.gif" alt="Loading" /></button>
                </div>
            </div>
        </div>
    </div>

</div>