.container-iframe {
    position: relative;
    width: 50%;
    height: 0;
    padding-bottom: 100%;
    background: #ebeced;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
    }
}
