<vex-page-layout>
    <vex-page-layout-header class="pb-15" fxLayout="column" fxLayoutAlign="center start">
        <div [class.px-gutter]="true" class="w-full flex justify-between">
            <div>
                <vex-breadcrumbs [crumbs]="[
                    {Title:'Báo Cáo', Path:''},
                    {Title:'Doanh Thu', Path:''},
                    {Title:'Tra cứu dữ liệu', Path:'', Active:true}
                    ]">
                </vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>   

    <vex-page-layout-content [class.px-gutter]="true" class="-mt-6">
        <div class="card overflow-auto -mt-15">
            <app-grid baseRoute="/bao-cao/tra-cuu-du-lieu" [gridColumns]="gridColumns"
                [documentType]="documentType" [useAddDeault]="true" [headerTemplate]="headerTemplate"
                [gridDataSource]="gridDataSource"             
                [useHeaderDefault]="false" [useActionDefault]="false" [checkboxAble]="false" [lazyLoadPage]="true">
            </app-grid>
        </div>

        <ng-template #headerTemplate>
            <div class="bg-app-bar p-0 h-15 border-b sticky left-0">
                <app-datetimepicker fxFlex="15%" [(model)]="baoCaoSearch.TuNgayFormat" #tiepnhantu id="TuNgayFormat"
                [maxDate]="baoCaoSearch.DenNgayFormat" label="Từ ngày" class="mt-1 on-header">
            </app-datetimepicker>

            <app-datetimepicker fxFlex="15%" [(model)]="baoCaoSearch.DenNgayFormat" #tiepnhanden id="DenNgayFormat"
                [minDate]="baoCaoSearch.TuNgayFormat" class="mt-1 on-header" label="Đến ngày">
            </app-datetimepicker>

            <div fxFlex="55%" fxFlex.sm="55%" class="pb-0">                 
                <button type="button" color="primary" mat-raised-button mat-button class="mr-1 mt-1"
                (click)="xemBaoCao()">Xem Báo Cáo</button>
                <button type="button" color="primary" mat-raised-button mat-button class="mr-1 mt-2"
                    (click)="exportExcel()">Xuất Excel</button>                  
            </div>
            </div>
        </ng-template>

    </vex-page-layout-content>

</vex-page-layout>

<ng-template #soTienTemplate let-dataItem>
    {{dataItem.SoTien | number:'0.2-2':'vi-VN'}}
</ng-template>
<ng-template #tienThueGTGTTienTemplate let-dataItem>
    {{dataItem.TienThueGTGT | number:'0.2-2':'vi-VN'}}
</ng-template>
<ng-template #giaTriHHDVChuaThueTemplate let-dataItem>
    {{dataItem.GiaTriHHDVChuaThue | number:'0.2-2':'vi-VN'}}
</ng-template>