app-dropdownlist {
    padding-bottom: 1.34375em;
    .ui-dropdown {
        border: none !important;
        width: 100% !important;
    }
    .k-dropdown {
        .k-dropdown-wrap {
            border: none !important;
            &.k-state-disabled {
                .k-input,
                .k-select {
                    background: transparent;
                }
            }
        }
    }
    kendo-dropdownlist {
        height: 42px !important;
        .k-input {
            margin-top: 5px;
            font-size: 14px !important;
            padding-left: 0 !important;
        }
    }
    &.on-header {
        kendo-textbox-container {
            border-radius: 9999px;
            padding-top: 0.43125em;
            >.k-label {
                top: 1.03125em;
            }
            kendo-dropdownlist {
                height: 34px !important;
            }
        }
    }
    &.on-breadcrumbs {
        background: #fff;
        padding-bottom: 0;
        margin-right: -1.5rem;
        .k-textbox-container {
            padding-top: 0.33125em;
            .k-label {
                top: calc(0.43125em + 9px);
            }
        }
        kendo-dropdownlist {
            height: 34px !important;
        }
    }
    &.on-li {
        display: inline-block;
        margin-right: 0;
        .k-textbox-container {
            padding: 0;
            padding-left: 5px;
            vertical-align: middle !important;
            .k-input {
                margin: 0;
                padding: 0;
                height: 26px;
            }
        }
        kendo-dropdownlist {
            height: 24px !important;
        }
    }
    kendo-textbox-container {
        background-color: rgba(0, 0, 0, 0.04);
        width: 100% !important;
        border-radius: 4px 4px 0 0;
        padding: .75em .75em 0 .75em;
        border-bottom: 1px solid rgba(82, 63, 105, 0.42);
        vertical-align: bottom !important;
        >.k-label {
            margin-left: 10px;
            background: none !important;
            transform: translate(0, -6px) translate(-1px, -0.53125em) translate(-12.5%, -9.375%) scale(.75) !important;
        }
        &.k-state-empty {
            >.k-label {
                transform: translate(0, 0) scale(1) !important;
            }
        }
        &.k-state-focused>.k-label {
            transform: translate(0, -6px) translate(-1px, -0.53125em) translate(-12.5%, -9.375%) scale(.75) !important;
            color: #005dab !important;
        }
        &:hover {
            &::after {
                opacity: 1;
                transform: scaleX(1);
            }
        }
    }
    &.no-label {
        kendo-textbox-container {
            padding-top: 0;
            .k-clear-value {
                top: 14px;
            }
        }
    }
}

.item-no-padding {
    .k-list {
        li {
            padding: 0 !important;
        }
    }
}

.background-white {
    background-color: white !important;
}