<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    <div>PHIẾU HOÀN TRẢ VẬT TƯ</div>
    <button type="button" mat-icon-button (click)="close()" tabindex="-1">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>

<mat-dialog-content>

    <div style="overflow-y: auto;max-height: 553px;">
        <table class="table table-border" width="100%">
            <!-- <tr  style="background: #005dab;color:#fff;">
                <th>PHIẾU IN HOÀN TRẢ</th>
            </tr> -->
            <tr >
                <td style="padding: 0;">
                    <div class="container-iframe">
                        <iframe width="100%" [src]="srcPhieuInHoanTra |safe" allowTransparency="true"
                            background="transparent"></iframe>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="mt-3">
    <app-print-form textPrint="In" type="PDF" [event]="19" style="text-align: right;" typeSize="{{printSize}}"
        [typeLayout]="printLayout" [bodyComponent]="this">
    </app-print-form>
</mat-dialog-actions>