<vex-page-layout>
    <vex-page-layout-header class="pb-15" fxLayout="column" fxLayoutAlign="center start">
        <div [class.px-gutter]="true" class="w-full flex justify-between">
            <div>
                <vex-breadcrumbs [crumbs]="[
                        {Title:'Thu Ngân',Path:''},
                        {Title:'Lịch Sử Thu Ngân',Path:'', Active:true}
                        ]">
                </vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>
    <vex-page-layout-content [class.px-gutter]="true" class="-mt-6">
        <div class="card overflow-auto -mt-15">
            <app-grid [gridColumns]="gridThuNganChoThuPhiColumns" [useActionDefault]="false" [keyCode]="keyCode"
                [lazyLoadPage]="true" urlGetData="ThuNgan/GetDataLichSuThuNganForGridAsync?yeuCauTiepNhanId=0"
                (extEnterChangePage)="extEnterChangePage($event)" [searchString]="lichSuDanhSachThuNgan.SearchString"
                urlGetTotalPage="ThuNgan/GetTotalPageForGridDanhSachLichSuThuNganNganAsync?yeuCauTiepNhanId=0"
                [useHeaderDefault]="false" [headerTemplate]="headerTemplate" [checkboxAble]="false"
                [documentType]="documentType" [sort]="sort">
            </app-grid>
            <ng-template #actionTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="text-center">
                    <a (click)="view(dataItem.SoBLHD, dataItem.LoaiPhieu,dataItem.YeuCauTiepNhanId)">
                        <p class="reverse-ellipsis l" title="{{dataItem.SoBLHD}}">{{dataItem.SoBLHD}}</p>
                    </a>
                </div>
            </ng-template>
            <ng-template #templateTextSoTienChoXacNhan let-dataItem>
                <strong class="text-color"> {{dataItem.SoTienThu | number:'0.2-2':'vi-VN'}}</strong>
            </ng-template>
            <ng-template #templateTextTienMat let-dataItem>
                <strong class="text-color"> {{dataItem.TienMat | number:'0.2-2':'vi-VN'}}</strong>
            </ng-template>
            <ng-template #templateTextChuyenKhoan let-dataItem>
                <strong class="text-color"> {{dataItem.ChuyenKhoan | number:'0.2-2':'vi-VN'}}</strong>
            </ng-template>
            <ng-template #templateTextPos let-dataItem>
                <strong class="text-color"> {{dataItem.Pos | number:'0.2-2':'vi-VN'}}</strong>
            </ng-template>
            <ng-template #templateTrangThai let-dataItem>
                <button *ngIf="dataItem.LyDoHuy === null" kendoTooltip title="In phiếu"
                    (click)="InPhieu(dataItem.SoBLHD , dataItem.ThuChiTienBenhNhanStr)" mat-icon-button type="button">
                    <mat-icon [icIcon]="icPrint"></mat-icon>
                </button>
            </ng-template>
        </div>
    </vex-page-layout-content>
    <!-- action chuẩn bị khám -->
    <ng-template #headerTemplate>
        <div class="bg-app-bar px-3 h-15 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
            <div class="bg-card rounded-full border px-4" fxFlex="400px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
                fxLayoutAlign="start center" style="margin-top: 2px;">
                <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
                <input [formControl]="searchCtrl" class="px-4 py-2 border-0 outline-none w-full bg-transparent"
                    type="search" name="searchString" [(ngModel)]="lichSuDanhSachThuNgan.SearchString"
                    (keyup)="onKey($event)" (ngModelChange)="searchChanges($event)"
                    placeholder="Nhập từ khóa(Số BLHD,Mã NB,Tên NB,Ngày thu,Người thu)..." />
            </div>
            <app-datetimepicker fxFlex="225px" [(model)]="lichSuDanhSachThuNgan.ThoiDiemTiepNhanTuFormat" #tiepnhantu
                id="ThoiDiemTiepNhanTuFormat" (modelChange)="TimkiemNangCao()" label="Ngày thực hiện từ"
                class="ml-2 on-header" (keyup)="onKey($event)">
            </app-datetimepicker>
            <app-datetimepicker fxFlex="225px" [(model)]="lichSuDanhSachThuNgan.ThoiDiemTiepNhanDenFormat" #tiepnhanden
                id="ThoiDiemTiepNhanDenFormat" (modelChange)="TimkiemNangCao()" label="Ngày thực hiện đến"
                class="ml-2 on-header" (keyup)="onKey($event)">
            </app-datetimepicker>
            <button type="button" color="primary" (click)="TimkiemNangCao()" class="ml-2" mat-raised-button>Tìm</button>
            <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button" (click)="clearSearch()">
                <mat-icon [icIcon]="icSearch"></mat-icon>
            </button>
            <div fxFlex="61%" fxFlex.sm="40%"></div>
            <button [matMenuTriggerFor]="columnFilterMenu" class="mr-4" fxFlex="none" mat-icon-button kendoTooltip
                title="Lọc cột" type="button">
                <mat-icon [icIcon]="icFilterList"></mat-icon>
            </button>
            <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
                <div *ngFor="let column of gridThuNganChoThuPhiColumns">
                    <button *ngIf="column.Title != ''"
                        class="checkbox-item mat-menu-item mat-checkbox mat-primary mat-checkbox-disabled _mat-animation-noopable ng-untouched ng-pristine mat-checkbox-checked">
                        <mat-checkbox [disabled]="true" color="primary">
                            {{ column.Title }}
                        </mat-checkbox>
                    </button>
                </div>
            </mat-menu>
            <button (click)="exportExcel()" class="ml-3" fxFlex="1%" fxFlex.sm="1%" mat-icon-button kendoTooltip
                title="Xuất Excel" type="button">
                <mat-icon [icIcon]="icFileExcel"></mat-icon>
            </button>
        </div>
    </ng-template>
</vex-page-layout>