<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    <div>Xác nhận hủy nhận viện</div>
    <button type="button" mat-icon-button (click)="close(null)" tabindex="-1">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>

<mat-dialog-content>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="16px grid" fxLayoutGap.lt-sm="0">
        <div fxFlex="100" fxFlex.sm="100">Bạn có chắc chắn muốn hủy yêu nhập viện này không?</div>
    
        <app-textarea id="lyDo" [required]="true" [(model)]="lyDo" fxFlex="100" fxFlex.sm="100" maxlength="2000" label="Lý do"
            minHeight="20"
            [validationerror]="'LyDo' | validationerror:validationErrors">
        </app-textarea>
    </div>
</mat-dialog-content>


<mat-dialog-actions align="end" class="mt-3">
    <button mat-button (click)="close(null)">Không</button>
    <button mat-button color="primary" (click)="XuLyHuyNhapVien()">Có</button>
</mat-dialog-actions>