.status-yeu-cau-linh {
  margin-left: auto;
  &.ycl-cho-duyet {
    color: orange;
  }
  &.ycl-da-duyet {
    color: green;
  }
}

.form-footer {
  margin-top: 1.34375em;
}

.align-right-fx {
  margin-left: auto;
}
.warning-text {
  color: orange;
}
