.div-content{
    margin-top: 20px !important;
}

.icon-war-status-grid
{
    color: red; 
    width:auto;
    height:15px;
}
svg{
    height: 2em; 
    
}

.yellowText{
    color: yellowgreen;
}
.redText{ 
    color:red; 
}
.greenText{
     color:green;
}
.orangeText{
    color: orange;
}
.blueText{
    color:blue;
}
.blackText{
    color: black;
}