fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px #e0e0e0;
    border-style: inherit;

    .item_right{
        text-align: right !important;
        float:right;
    }

    ul>li{
        padding-right: 15px !important;
    }

    ul.inline > li{
        display: inline !important;
    }
  }

.fieldset_noi_tru{
    margin: 20px 0px;
    padding: 0px;
    border: none;
}

mat-button-toggle{
  &.mat-btn-p0{
    button.mat-button-toggle-button>div.mat-button-toggle-label-content{
      padding: 0px;
    }
  }
}

app-textarea{
    &.red-text{
      color: red;
    }
  }


  .icon-action-ylenh{
    // height: 15px; 
    top: 10px;
    position: absolute;
    right: 0;
}