<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="16px grid" fxLayoutGap.lt-sm="0">

    <div fxFlex="100%" *ngIf="!isCreate && trangThaiVo != null && trangThaiVo.TrangThai == false">
        <h4 style="color: red;">Lý do: {{yeuCauHoanTraDuocPham.LyDoKhongDuyet}}</h4>
    </div>


    <app-combobox id="KhoXuatId" fxFlex="25%" fxFlex.sm="20%" [(model)]="yeuCauHoanTraDuocPham.KhoXuatId"
        [required]="true" bind="true" label="Hoàn trả từ kho" (modelChange)="khoXuatModelChange($event)"
        url="YeuCauTraThuoc/GetKhoLoaiDuocPham"
        [disabled]="trangThaiVo != undefined && trangThaiVo != null  && trangThaiVo.TrangThai != null || disabled"
        [validationerror]="'KhoXuatId' | validationerror:validationErrors">
    </app-combobox>

    <app-combobox id="KhoNhapId" fxFlex="25%" fxFlex.sm="20%" [(model)]="yeuCauHoanTraDuocPham.KhoNhapId"
        label="Hoàn trả về kho" bind="true" url="YeuCauTraThuoc/GetKhoLoaiDuocHoanTra" [required]="true"
        [disabled]="trangThaiVo != undefined && trangThaiVo != null  && trangThaiVo.TrangThai != null"
        [validationerror]="'KhoNhapId' | validationerror:validationErrors">
    </app-combobox>

    <app-combobox id="NhanVienYeuCauId" fxFlex="25%" fxFlex.sm="20%" [(model)]="yeuCauHoanTraDuocPham.NhanVienYeuCauId"
        [required]="true" bind="true" label="Người yêu cầu" url="XuatKhoDuocPham/GetNguoiXuat" [disabled]="true"
        [validationerror]="'NhanVienYeuCauId' | validationerror:validationErrors">
    </app-combobox>

    <app-datetimepicker id="NgayYeuCau" fxFlex="25%" fxFlex.sm="20%" label="Ngày yêu cầu" [disabled]="true"
        [(model)]="yeuCauHoanTraDuocPham.NgayYeuCau" [required]="true"
        [validationerror]="'NgayYeuCau' | validationerror:validationErrors">
    </app-datetimepicker>

    <app-textbox
        *ngIf="!isCreate && trangThaiVo != null && trangThaiVo.TrangThai != false && trangThaiVo.TrangThai != null"
        id="nguoiPheDuyet" fxFlex="25" fxFlex.sm="25" maxlength="250" label="Người phê duyệt"
        [(model)]="yeuCauHoanTraDuocPham.TenNhanVienDuyet" disabled={{true}} [required]="true">
    </app-textbox>

    <app-datepicker
        *ngIf="!isCreate && trangThaiVo != null && trangThaiVo.TrangThai != false && trangThaiVo.TrangThai != null"
        id="ngayDuyet" fxFlex="25" fxFlex.sm="12" [required]="true" label="Ngày duyệt"
        [(model)]="yeuCauHoanTraDuocPham.NgayDuyet" disabled={{true}}>
    </app-datepicker>



    <app-textarea id="ghiChu" fxFlex="auto" fxFlex.sm="100" maxlength="1000" label="Ghi chú" minHeight="20"
        [disabled]="trangThaiVo != undefined && trangThaiVo != null  && trangThaiVo.TrangThai != null"
        [(model)]="yeuCauHoanTraDuocPham.GhiChu">
    </app-textarea>

</div>

<div style="height: 20px;">

</div>

<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="16px grid" fxLayoutGap.lt-sm="0">

    <h3 fxFlex="100%" class="sub-title mt-0">THÔNG TIN DƯỢC PHẨM
    </h3>
    <ng-container *ngIf="trangThaiVo != undefined && trangThaiVo!= null && trangThaiVo.TrangThai == null">

        <app-grid fxFlex="50%" HideCheckAll="true" [gridColumns]="gridColumns" [documentType]="documentType"
            [urlGetData]="urlGetData" [urlGetTotalPage]="urlGetTotal" [useHeaderDefault]="false"
            [useActionDefault]="false" [lazyLoadPage]="true" [checkboxAble]="false" pageSize="50" height="500"
            [headerTemplate]="headerTemplate" #gridDuocPhamXuat [groups]="groups"></app-grid>

        <app-grid fxFlex="50%" HideCheckAll="true" [gridColumns]="gridResultColumns" [documentType]="documentType"
            [useHeaderDefault]="false" [useActionDefault]="false" [lazyLoadPage]="true" [checkboxAble]="false"
            [pageable]="false" height="500" [headerTemplate]="headerTemplate2" #gridResult [groups]="groups"
            [gridDataSource]="gridDataSourceThuocKhac"></app-grid>
    </ng-container>

    <ng-container *ngIf="trangThaiVo != undefined && trangThaiVo!= null && trangThaiVo.TrangThai != null">
        <app-grid fxFlex="100%" HideCheckAll="true" [gridColumns]="gridResultDaDuyetColumns"
            [documentType]="documentType" [urlGetData]="urlGetDataDaDuyet" [urlGetTotalPage]="urlGetTotalDaDuyet"
            [useHeaderDefault]="false" [useActionDefault]="false" [lazyLoadPage]="true" [checkboxAble]="false"
            pageSize="50" height="500" [additionalSearchString]="addtionStringDefault"
            [headerTemplate]="headerTemplateDaDuyet" #gridDuocPhamXuatDaDuyet [groups]="groups"></app-grid>
    </ng-container>

    <ng-template #headerTemplateDaDuyet>
        <div class="bg-app-bar p-0 h-15 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
            <div style="margin-top: 5px;" class="bg-card rounded-full border mb-1 ml-2" fxFlex="400px"
                fxFlex.lt-md="auto" fxHide.xs fxLayout="row" fxLayoutAlign="start center">
                <ic-icon class="ml-4" [icIcon]="icSearch" size="20px"></ic-icon>
                <input [formControl]="searchCtrl" class="px-4 py-2 border-0 outline-none w-full bg-transparent"
                    type="search" name="searchString" [(ngModel)]="xuatKhoKhacGridDaDuyet.SearchString"
                    (keyup)="onKeyGrid3($event)" (ngModelChange)="searchChanges3($event)"
                    placeholder="Nhập từ khóa..." />
            </div>
        </div>
    </ng-template>

    <ng-template #nhomGroupHeaderTemplate let-value="value" let-dataItem>
        <strong>{{value}}</strong>
    </ng-template>

    <ng-template #headerTemplate>
        <div class="bg-app-bar p-0 h-15 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
            <div style="margin-top: 5px;" class="bg-card rounded-full border mb-1 ml-2" fxFlex="400px"
                fxFlex.lt-md="auto" fxHide.xs fxLayout="row" fxLayoutAlign="start center">
                <ic-icon class="ml-4" [icIcon]="icSearch" size="20px"></ic-icon>
                <input [formControl]="searchCtrl" class="px-4 py-2 border-0 outline-none w-full bg-transparent"
                    type="search" name="searchString" [(ngModel)]="yeuCauHoanTraDuocPhamSearch.SearchString"
                    (keyup)="onKeyGrid1($event)" (ngModelChange)="searchChanges($event)"
                    placeholder="Nhập từ khóa..." />
            </div>
        </div>
    </ng-template>

    <ng-template #headerTemplate2>
        <div class="bg-app-bar p-0 h-15 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
            <div style="margin-top: 5px;" class="bg-card rounded-full border mb-1 ml-2" fxFlex="400px"
                fxFlex.lt-md="auto" fxHide.xs fxLayout="row" fxLayoutAlign="start center">
                <ic-icon class="ml-4" [icIcon]="icSearch" size="20px"></ic-icon>
                <input [formControl]="searchCtrl" class="px-4 py-2 border-0 outline-none w-full bg-transparent"
                    type="search" name="searchString2" [(ngModel)]="searchString2" (keyup)="onKeyGrid2($event)"
                    (ngModelChange)="clearSearchGrid2($event)" placeholder="Nhập từ khóa..." />
            </div>
        </div>
    </ng-template>

    <!-- GRID DATA 1  CONTENT-->

    <ng-template #soLuongXuatGrid1Template let-dataItem>
        <app-textboxnumeric class="no-label" id="SoLuongTra{{dataItem.Id}}" [(model)]="dataItem.SoLuongTra"
            [format]="format" [decimals]="2" [max]="dataItem.SoLuongTon">
        </app-textboxnumeric>
    </ng-template>

    <ng-template #transferTemplate let-dataItem>
        <div style="text-align: right;">
            <button (click)="dieuChuyenTungDuocPhamGrid1(dataItem)" [ngClass]="['bg-gray-500', 'text-contrast-white']"
                kendoTooltip title="Chọn: {{dataItem.Ten}}" class="p-0" style="min-width: 0;line-height: 26px;"
                mat-raised-button type="button">
                <mat-icon [icIcon]="icRight"></mat-icon>
            </button>
        </div>
    </ng-template>

    <ng-template #tenNhomGroupHeaderTemplate let-value="value" let-dataItem>
        <div style="width: 50%;">
            <strong>{{value}}</strong>
        </div>
        <div style="width: 50%; text-align: right;">
            <button (click)="dieuChuyenDuocPhamTheoNhomGrid(dataItem,1)" color="primary" kendoTooltip
                title="Chọn chóm: {{value}}" class="p-0" style="min-width: 0;line-height: 26px;" mat-raised-button
                type="button">
                <mat-icon [icIcon]="icRightLast"></mat-icon>
            </button>
        </div>
    </ng-template>


    <!-- GRID DATA 2  CONTENT-->

    <ng-template #soLuongXuatGrid2Template let-dataItem let-rowIndex="rowIndex">
        <app-textboxnumeric *ngIf="trangThaiVo != undefined && trangThaiVo != null  && trangThaiVo.TrangThai == null"
            class="no-label" id="SoLuongTra{{dataItem.Id}}" [(model)]="dataItem.SoLuongTra" [max]="dataItem.SoLuongTon"
            maxlength="99999999" [format]="format" [decimals]="2"
            [validationerror]="'YeuCauHoanTraDuocPhamChiTiets['+rowIndex+'].SoLuongTra' | validationerror:validationErrors">
        </app-textboxnumeric>

        <div *ngIf="trangThaiVo != undefined && trangThaiVo != null  && trangThaiVo.TrangThai != null">
            {{dataItem.SoLuongTra | number:'1.0':'vi-VN' }}
        </div>

    </ng-template>

    <ng-template #templateInfo let-dataItem>
        <table class="table table-border" width="100%">
            <tr>
                <td>Số lượng tồn thực tế: {{sLTonThucTe | number:'1.0':'vi-VN'}}</td>
            </tr>
        </table>
    </ng-template>

    <ng-template #sLTonTemplate let-dataItem let-rowIndex="rowIndex">
        {{dataItem.SoLuongTon | number:'1.2-2':'vi-VN' }}
    </ng-template>

    <ng-template #slTonThucTeTemplate let-dataItem let-rowIndex="rowIndex">
        <span> {{dataItem.SoLuongTon | number:'1.2-2':'vi-VN' }}</span>
        <span
            *ngIf="validationErrors != []&& validationErrors!=undefined && validationErrors!=null &&  validationErrors.length > 0"
            class="kho-tong-ton-ng-template" kendoTooltip #tooltip="kendoTooltip" tooltipClass="tooltip-block"
            position="left" [tooltipTemplate]="templateInfo" filter="*">
            <mat-icon [icIcon]="icInfo" (mouseover)="TooltipCustom(dataItem)" class="info"></mat-icon>
        </span>
    </ng-template>

    <ng-template #tenNhom2GroupHeaderTemplate let-value="value" let-dataItem>
        <button (click)="dieuChuyenDuocPhamTheoNhomGrid(dataItem,2)" color="primary" kendoTooltip
            title="Bỏ chọn nhóm: {{value}}" class="p-0 mr-2" style="min-width: 0;line-height: 26px;" mat-raised-button
            type="button">
            <mat-icon [icIcon]="icLeftLast"></mat-icon>
        </button>
        <strong>{{value}}</strong>
    </ng-template>


    <ng-template #transferTemplate2 let-dataItem>
        <button (click)="dieuChuyenTungDuocPhamGrid2(dataItem)" [ngClass]="['bg-gray-500', 'text-contrast-white']"
            kendoTooltip title="Bỏ chọn: {{dataItem.Ten}}" class="p-0" style="min-width: 0;line-height: 26px;"
            mat-raised-button type="button">
            <mat-icon [icIcon]="icLeft"></mat-icon>
        </button>
    </ng-template>

    <ng-template #hsdTemplate let-dataItem>
        {{dataItem.HsdText}}
    </ng-template>

    <ng-template #tenNhomGroupDaDuyetHeaderTemplate let-value="value" let-dataItem>
        <strong>{{value}}</strong>
    </ng-template>

    <ng-template #soLuongTraTemplate let-dataItem let-rowIndex="rowIndex">
        {{dataItem.SoLuongTra | number:'1.0-2':'vi-VN'}}
    </ng-template>

    <ng-template #giaTemplate let-dataItem>
        {{dataItem.DonGiaNhap | number:'0.2-2':'vi-VN'}}
    </ng-template>

    <ng-template #sLTonTemplate let-dataItem let-rowIndex="rowIndex">
        {{dataItem.SoLuongTon | number:'1.2-2':'vi-VN' }}
    </ng-template>
    
    <ng-template #donGiaTemplate let-dataItem>
        {{dataItem.DonGiaNhap | number:'0.2-2':'vi-VN'}}
    </ng-template>
</div>