#SoLuongTon {
  input {
    font-weight: bold;
    color: green;
  }
}
.color-red {
  color: red;
}
.reverse-ellipsis.r {
  text-align: right;
  direction: inherit;
}
.mat-icon {
  font-size: 16px !important;
}
