.yellowText{
    color: yellowgreen;
}
.redText{ 
    color:red; 
}
.greenText{
     color:green;
}
.orangeText{
    color: orange;
}
.blueText{
    color:blue;
}
.blackText{
    color: black;
}
.bluevioletText{
    color: blueviolet;
}


.loai-mau{
    display: flex;
    flex-direction: row;
    align-items: center;
}