.div-giuong{
    margin-top: 15px !important;
    padding-top: 15px !important;
    border-bottom-width: 1px;
}
.div-item-giuong{
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    height: 25px;
    padding: 5px !important;
    border-radius: 5px;
    margin-right: 10px;
}