<app-header-form
    [crumbs]="[{Title:'Danh Mục',Path:''},{Title:'Nhóm Hệ Thống',Path:''},{Title:'Bệnh Viện',Path:''},
    {Title:'Nhóm Dịch Vụ Tại Bệnh Viện',Path:'/danh-muc/nhom-he-thong/benh-vien/nhom-dich-vu-benh-vien', Active: true}]"
    [isicMoreVert]="false">
</app-header-form>
<div [@stagger]="true" class="p-gutter" vexContainer>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div @fadeInUp class="card" fxFlex="auto">
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title m-0">Chỉnh Sửa Nhóm Dịch Vụ Tại Bệnh Viện</h2>
            </div>

            <div class="px-6 py-4" fxLayout="column">
                <app-nhom-dich-vu-benh-vien-shared></app-nhom-dich-vu-benh-vien-shared>
                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                    <app-formfooter [bodyComponent]="shared" type="update" (updated)="onUpdated()"></app-formfooter>
                </div>
            </div>
        </div>
    </div>

</div>