fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 16px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px #e0e0e0;
    border-style: inherit;

    .item_right{
        text-align: right !important;
        float:right;
    }

    ul>li{
        padding-right: 15px !important;
    }

    ul.inline > li{
        display: inline-block !important;
    }

    // legend{
    //     font-weight: normal !important;
    // }
  }

  .item-parent{
      font-weight: bold;
      font-size: 15px;
  }
  .item-child{
    margin-left: 30px;
  }