.icon-bhyt{
    height: 15px; 
    top: 2px;
    position: absolute;
    right: 0;
}

.yellowText{
    color: yellowgreen;
}
.redText{ 
    color:red; 
}
.greenText{
     color:green;
}
.orangeText{
    color: orange;
}
.blackText{
    color: black;
}