
.title-blue-text{
    font-weight: bold;
    color: blue !important;
    border-bottom: none !important;
}

.title-red-text{
    font-weight: bold;
    color: red !important;
    border-bottom: none !important; 
}