<app-header-form [crumbs]="[
    {Title:'Danh Mục',Path:''}
    ,{Title:'Hợp Đồng Thầu',Path:''}
    ,{Title:'Dược Phẩm',Path:''}
    ,{Title:'Hợp Đồng Thầu Dược Phẩm',Path:'/danh-muc/hop-dong-thau/duoc-pham', Active:true}
    ]" [isicMoreVert]="false">
</app-header-form>

<div class="p-gutter" vexContainer>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div class="card" fxFlex="auto">
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title m-0">Chỉnh Sửa Hợp Đồng Thầu Dược Phẩm</h2>
            </div>

            <div class="px-6 py-4" fxLayout="column">

                <app-hop-dong-thau-duoc-pham-shared></app-hop-dong-thau-duoc-pham-shared>

            </div>
        </div>
    </div>
</div>