<vex-page-layout>
    <vex-page-layout-header class="pb-15" fxLayout="column" fxLayoutAlign="center start">
        <div [class.px-gutter]="true" class="w-full flex justify-between">
            <div>
                <vex-breadcrumbs [crumbs]="[
                    {Title:'Danh Mục', Path:''}
                    ,{Title:'Nhóm Hệ Thống', Path:''}
                    ,{Title:'Kho', Path:''}
                    ,{Title:'Nhà Cung Cấp', Path:'/danh-muc/nhom-he-thong/kho/nha-thau', Active:true}
                    ]">
                </vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>
    <vex-page-layout-content [class.px-gutter]="true" class="-mt-6">
        <div class="card overflow-auto -mt-15">
            <app-grid baseRoute="/danh-muc/nhom-he-thong/kho/nha-thau" [gridColumns]="gridColumns"
                [documentType]="documentType" [useActionDefault]="true" [lazyLoadPage]="true" [showExportExcel]="true"
                (extExportExcel)="exportExcel()"></app-grid>
        </div>
    </vex-page-layout-content>
</vex-page-layout>
