<vex-page-layout>
    <vex-page-layout-header class="pb-15" fxLayout="column" fxLayoutAlign="center start">
        <div [class.px-gutter]="true" class="w-full flex justify-between">
            <div>
                <!-- <h1 class="title mt-0 mb-1">Danh Mục Học Vị Học Hàm</h1> -->
                <vex-breadcrumbs [crumbs]="[
                    {Title:'Danh Mục',Path:''}
                    ,{Title:'Nhóm Hệ Thống',Path:''}
                    ,{Title:'Bao Hiểm Y Tế',Path:''}
                    ,{Title:'Học Vị Học Hàm',Path:'/danh-muc/nhom-he-thong/bao-hiem-y-te/hoc-vi-hoc-ham',Active:true}
                    ]">
                </vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>
    <vex-page-layout-content [class.px-gutter]="true" class="-mt-6">
        <div class="card overflow-auto -mt-15">
            <app-grid baseRoute="/danh-muc/nhom-he-thong/bao-hiem-y-te/hoc-vi-hoc-ham"
                [gridColumns]="gridColumns" [documentType]="documentType" [useActionDefault]="true"
                [showExportExcel]="true" (extExportExcel)="exportExcel()"
                [lazyLoadPage]="true">
            </app-grid>
        </div>
    </vex-page-layout-content>
</vex-page-layout>