<vex-page-layout>
    <vex-page-layout-header class="pb-15" fxLayout="column" fxLayoutAlign="center start">
        <div [class.px-gutter]="true" class="w-full flex justify-between">
            <div>
                <vex-breadcrumbs [crumbs]="
                    [
                        {Title:'Khám Đoàn',Path:''},
                        {Title:'DS Duyệt Yêu Cầu Nhân Sự Khám Sức Khỏe - Kế Hoạch Tổng Hợp',Path:'', Active:true}
                    ]">
                </vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>

    <vex-page-layout-content [class.px-gutter]="true" class="-mt-6">
      <div class="card overflow-auto -mt-15">
              <app-grid #gridParent [gridColumns]="gridColumns" [documentType]="documentType" [useActionDefault]="false"
                  [lazyLoadPage]="true" [useHeaderDefault]="false" [checkboxAble]="false" [allowSortDefault]="false"
                  [headerTemplate]="headerTemplate" [searchString]="timKiemObj.SearchString" [showStt]="true" [sort]="sort"
                  [urlGetData]="urlGetData" [urlGetTotalPage]="urlTotalPage">
              </app-grid>

              <ng-template #headerTemplate>
                  <div class="bg-app-bar px-0 h-15 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">

                      <app-checkbox [(model)]="timKiemObj.TrangThai.ChoDuyet"
                          id="choDuyet" label="Chờ duyệt" class="ml-2" (modelChange)="timKiemNangCao()">
                      </app-checkbox>
                      <app-checkbox [(model)]="timKiemObj.TrangThai.DaDuyet"
                          id="daDuyet" label="Đã duyệt" class="ml-2" (modelChange)="timKiemNangCao()">
                      </app-checkbox>
                      <app-checkbox [(model)]="timKiemObj.TrangThai.TuChoi"
                          id="tuChoi" label="Từ chối" class="ml-2" (modelChange)="timKiemNangCao()">
                      </app-checkbox>
                      <app-daterangepicker id="tuNgayDenNgay" fxFlex="250px" fxFlex.sm="auto" class="mt-1 ml-2 on-header"
                          [(model)]="timKiemObj.NgayGui"
                          label="Ngày gửi: Từ ngày - đến ngày"  (modelChange)="timKiemNangCao()">
                      </app-daterangepicker>
                      <app-daterangepicker id="KHTHTuNgayDenNgay" fxFlex="250px" fxFlex.sm="auto" class="mt-1 ml-2 on-header"
                          [(model)]="timKiemObj.NgayKHTHDuyet"
                          label="Ngày KHTH duyệt: Từ ngày - đến ngày"  (modelChange)="timKiemNangCao()">
                      </app-daterangepicker>
                      <app-daterangepicker id="NhanSuTuNgayDenNgay" fxFlex="250px" fxFlex.sm="auto" class="mt-1 ml-2 on-header"
                          [(model)]="timKiemObj.NgayNhanSuDuyet"
                          label="Ngày NS duyệt: Từ ngày - đến ngày"  (modelChange)="timKiemNangCao()">
                      </app-daterangepicker>
                      <app-daterangepicker id="GiamDocTuNgayDenNgay" fxFlex="250px" fxFlex.sm="auto" class="mt-1 ml-2 on-header"
                          [(model)]="timKiemObj.NgayGiamDocDuyet"
                          label="Ngày GĐ duyệt: Từ ngày - đến ngày"  (modelChange)="timKiemNangCao()">
                      </app-daterangepicker>

                      <div class="bg-card rounded-full border px-4 ml-2" fxFlex="280px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
                          fxLayoutAlign="start center" style="margin-top: 2px;">
                          <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
                          <input [formControl]="searchCtrl" class="px-4 py-2 border-0 outline-none w-full bg-transparent" type="search"
                              name="searchString" [(ngModel)]="timKiemObj.SearchString" (keyup)="onKey($event)"
                              (ngModelChange)="searchChanges($event)" placeholder="Nhập từ khóa..." />
                      </div>
                      <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button" (click)="clearSearch()">
                          <mat-icon [icIcon]="icSearch"></mat-icon>
                      </button>

                      <button [matMenuTriggerFor]="columnFilterMenu" class="ml-auto" fxFlex="none" mat-icon-button kendoTooltip title="Lọc cột" type="button">
                          <mat-icon [icIcon]="icFilterList"></mat-icon>
                      </button>
                      <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
                          <div *ngFor="let column of _gridColumnsFilter">
                              <button class="checkbox-item mat-menu-item" *ngIf="!column.HideFilter">
                                  <mat-checkbox [disabled]="!column.HasFilter" [(ngModel)]="_isCheckColumnFilter" color="primary">
                                      {{ column.Title }}
                                  </mat-checkbox>
                              </button>
                          </div>
                      </mat-menu>

                      <button fxFlex="none" mat-icon-button kendoTooltip title="Xuất Excel" type="button"
                          (click)="xuLyXuatExcel()">
                          <mat-icon [icIcon]="icFileExcel"></mat-icon>
                      </button>
                  </div>
              </ng-template>

              <ng-template #tenHopDongTemplate let-dataItem>
                  <a (click)="xemChiTiet(dataItem.Id)"><p kendoTooltip class="reverse-ellipsis l" title="{{dataItem.HopDong}}">{{dataItem.HopDong}}</p></a>
              </ng-template>

              <ng-template #trangThaiTemplate let-dataItem>
                  <div style="position: relative;">
                      <span [ngClass]="{'orangeText': dataItem.TrangThai == 1,
                              'greenText': dataItem.TrangThai == 2,
                              'redText': dataItem.TrangThai == 3}">
                          {{dataItem.TenTinhTrang}}
                      </span>
                  </div>
              </ng-template>

            <ng-template #ngayBatDauKhamTemplate let-dataItem>
                <div class="reverse-ellipsis r" kendoTooltip title="{{dataItem.NgayBatDauKhamDisplay}}">
                    {{dataItem.NgayBatDauKhamDisplay}} </div>
            </ng-template>
            <ng-template #ngayKetThucKhamTemplate let-dataItem>
                <div class="reverse-ellipsis r" kendoTooltip title="{{dataItem.NgayKetThucKhamDisplay}}">
                    {{dataItem.NgayKetThucKhamDisplay}} </div>
            </ng-template>
            <ng-template #ngayGuiTemplate let-dataItem>
                <div class="reverse-ellipsis r" kendoTooltip title="{{dataItem.NgayGuiDisplay}}">{{dataItem.NgayGuiDisplay}} </div>
            </ng-template>
            <ng-template #ngayKHTHDuyetTemplate let-dataItem>
                <div class="reverse-ellipsis r" kendoTooltip title="{{dataItem.NgayKhthDuyetDisplay}}">
                    {{dataItem.NgayKhthDuyetDisplay}} </div>
            </ng-template>
            <ng-template #ngayNhanSuDuyetTemplate let-dataItem>
                <div class="reverse-ellipsis r" kendoTooltip title="{{dataItem.NgayNsDuyetDisplay}}">
                    {{dataItem.NgayNsDuyetDisplay}} </div>
            </ng-template>
            <ng-template #ngayGiamDocDuyetTemplate let-dataItem>
                <div class="reverse-ellipsis r" kendoTooltip title="{{dataItem.NgayGdDuyetDisplay}}">{{dataItem.NgayGdDuyetDisplay}}
                </div>
            </ng-template>
      </div>
  </vex-page-layout-content>
</vex-page-layout>
