kendo-tabstrip{
    margin-bottom: 5px;
}

.ten-dich-vu-label {
    display: inline;
    text-overflow: ellipsis;
}

.button-them-goi{
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.mat-icon-them-goi{
    margin-top: -20px;
    margin-left: -2px;
}

.xac-nhan-ng-template {
    display: inherit;
    white-space: nowrap;
}

.danh-sach-goi{
    color: orange;
    text-decoration: underline;
}

.div-danh-sach-goi{
    padding-top: 5px !important;
}

.info {
    margin-bottom: -8px;
    margin-top: 0px;
    //color: #00bcd4;
}

.header-grid{
    width: 100%;
    height: auto;
    background: #ffe0b2;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-span-grid{
    width: 80%;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    color: #005dab;
    text-transform: uppercase;
    display: inline-block;
}

.thong-tin-tai-khoan-benh-nhan{
    float: right;
    font-weight: normal;
}

.so-tuoi{
    align-items: center;
    display: flex;
    justify-content: center;
}

.styleTinhTong {
    border: 1px solid #ccc;
    padding: 15px;
    background: #e3f2fd;
    text-align: right;
    margin: 10px -17px -17px -17px;
}

.image-barcode{
    padding-right: 0px !important;
    position: absolute;
    right: 25px;
    margin-top: 10px;
}

.so-nha{
    text-transform: capitalize;
}

.div-voucher{
    padding: 0 !important;
}