.sub-title{
    
    font-size: 15px;
    border-bottom: 1px solid var(--foreground-divider);
    padding-bottom: 0 !important;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text-color);
    text-transform: uppercase;
}
table{
    tr{
        border-bottom: 1px solid #ebeced;
        td{
            padding: 10px;
        }
    }
}