<vex-page-layout>
    <vex-page-layout-header class="pb-15" fxLayout="column" fxLayoutAlign="center start">
        <div [class.px-gutter]="true" class="w-full flex justify-between">
            <div>
                <vex-breadcrumbs [crumbs]="[
            {Title:'Danh Mục', Path:''}
            ,{Title:'Nhóm Hệ Thống', Path:''}
            ,{Title:'Kho', Path:''}
            ,{Title:'Định Mức Dược Phẩm Tồn Kho', Path:'/danh-muc/nhom-he-thong/kho/dinh-muc-duoc-pham-ton-kho', Active:true}
            ]">
                </vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>
    <vex-page-layout-content [class.px-gutter]="true" class="-mt-6">
        <div class="card overflow-auto -mt-15">
            <app-grid baseRoute="danh-muc/nhom-he-thong/kho/dinh-muc-duoc-pham-ton-kho"
                [gridColumns]="gridColumns" [documentType]="documentType" [useActionDefault]="true"
                [showExportExcel]="true" (extExportExcel)="exportExcel()"
                [lazyLoadPage]="true"></app-grid>
        </div>
    </vex-page-layout-content>
</vex-page-layout>