.blue-text {
    color: #005dab;
  }
  
  .link-highlight {
    color: #005dab;
    font-style: italic;
    text-decoration: underline;
  }
  
  #hanh-chinh .k-textbox-container {
    padding: 0 !important;
  }
  
  #hanh-chinh app-combobox kendo-textbox-container {
    padding: 0 !important;
  }
  
  @media (max-width: 959px) {
    .mt-sm-0 {
      margin-top: 0 !important;
    }
  }
  .item-no {
    padding: 0 !important;
  }
  

  ul.inline > li{
    padding-right: 10px !important;
    padding-bottom: 0.625em;
    display: inline-block !important;
}

.po-h{
    color: #005dab;
    position: relative;
    top: 5px;
    left: 5px;
    mat-icon{
        display: contents;
    }
}

.icon-close{    
    position: absolute;
    z-index: 9;
    right: 0;
    cursor: pointer;
    &:hover{
        color: #005dab;
    }
}
.text_center {
  text-align: center;
}
