<app-header-form [crumbs]="[
    {Title:'Danh Mục',Path:''}
    ,{Title:'Nhóm Hệ Thống',Path:''}
    ,{Title:'Bệnh Viện',Path:''}
    ,{Title:'Phương Pháp Vô Cảm',Path:'/danh-muc/nhom-he-thong/benh-vien/phuong-phap-vo-cam', Active: true}
    ]" [isicMoreVert]="false">
</app-header-form>

<div class="p-gutter" vexContainer>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div class="card" fxFlex="auto">
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title m-0">Chỉnh Sửa Phương Pháp Vô Cảm</h2>
            </div>

            <div class="px-6 py-4" fxLayout="column">

                <app-phuong-phap-vo-cam-shared></app-phuong-phap-vo-cam-shared>

                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                    <app-formfooter [bodyComponent]="shared" type="update" (updated)="onUpdated()"></app-formfooter>
                </div>
            </div>
        </div>
    </div>
</div>