
<kendo-textbox-container *ngIf="isAutoFocus == false" floatingLabel="{{label}}" [ngClass]="{'k-state-initial':model!=null,'required':required}">
        <kendo-combobox class="form-control" [data]="_data" [(ngModel)]="model" [filterable]="filterable" [clearButton]="!hideDeleteButton"
        [textField]="textField" [valueField]="valueField" (ngModelChange)="emit($event)" ngControl="model"
        [placeholder]="placeHolder" [valuePrimitive]="valuePrimitive" id="{{id}}" [readonly]="readonly"
        [disabled]="disabled" name="{{id}}" (valueChange)="valueChange($event)" (selectionChange)="onSelectionChange($event)"
        (filterChange)="filterChange($event)" (open)="open()" (close)="close()" (focus)="focus()" (blur)="blur()"
        title="{{title}}" [itemDisabled]="itemDisabled" [popupSettings]="popupSettings">
        <ng-template kendoComboBoxHeaderTemplate  let-dataItem  *ngIf="templateHeader!=null">
                <ng-container *ngTemplateOutlet="templateHeader; context:{$implicit: dataItem}"></ng-container>
        </ng-template>
        <ng-template kendoComboBoxItemTemplate let-dataItem *ngIf="template!=null">
                <ng-container *ngTemplateOutlet="template; context:{$implicit: dataItem}"></ng-container>
        </ng-template>
        <kendo-combobox-messages
            clearTitle="Xóa"
            noDataText="Không có dữ liệu">
        </kendo-combobox-messages>
    </kendo-combobox>
<label class="red" [innerHTML]="validationerror"></label> 
</kendo-textbox-container>

<kendo-textbox-container *ngIf="isAutoFocus == true" floatingLabel="{{label}}" [ngClass]="{'k-state-initial':model!=null,'required':required}">
    <kendo-combobox class="form-control" [data]="_data" [(ngModel)]="model" [filterable]="filterable"
    [textField]="textField" [valueField]="valueField" (ngModelChange)="emit($event)" ngControl="model"
    [placeholder]="placeHolder" [valuePrimitive]="valuePrimitive" id="{{id}}isAutoFocus" [readonly]="readonly"
    [disabled]="disabled" name="{{id}}" (valueChange)="valueChange($event)" (selectionChange)="onSelectionChange($event)"
    (filterChange)="filterChange($event)" (open)="open()" (close)="close()" (focus)="focus()" (blur)="blur()"
    title="{{title}}" [itemDisabled]="itemDisabled" [popupSettings]="popupSettings">
    <ng-template kendoComboBoxHeaderTemplate  let-dataItem  *ngIf="templateHeader!=null">
            <ng-container *ngTemplateOutlet="templateHeader; context:{$implicit: dataItem}"></ng-container>
    </ng-template>
    <ng-template kendoComboBoxItemTemplate let-dataItem *ngIf="template!=null">
            <ng-container *ngTemplateOutlet="template; context:{$implicit: dataItem}"></ng-container>
    </ng-template>
    <kendo-combobox-messages
        clearTitle="Xóa"
        noDataText="Không có dữ liệu">
    </kendo-combobox-messages>
</kendo-combobox>

<label class="red" [innerHTML]="validationerror"></label> 
</kendo-textbox-container>


<!-- <div class="form-row" kendoTooltip>
  <div class="form-group {{moreClass}} col-sm-12" *ngIf="!horizontalForm">
      <label for="{{id}}" *ngIf="label!=null && label!=''">{{label}}<span class="text-danger" *ngIf="required">*</span></label>
      <div [ngClass]="validationerror!=''?'has-error':''" style="border:none !important;">
          <kendo-combobox class="form-control" [data]="_data" [(ngModel)]="model" [filterable]="filterable"
              [textField]="textField" [valueField]="valueField" (ngModelChange)="emit($event)" ngControl="model"
              [placeholder]="placeHolder" [valuePrimitive]="valuePrimitive" id="{{id}}" [readonly]="readonly"
              [disabled]="disabled" name="{{id}}" (valueChange)="valueChange($event)" (selectionChange)="onSelectionChange($event)"
              (filterChange)="filterChange($event)" (open)="open()" (close)="close()" (focus)="focus()" (blur)="blur()"
              title="{{title}}" [itemDisabled]="itemDisabled">
              <kendo-combobox-messages
                  clearTitle="Xóa"
                  noDataText="Không có dữ liệu">
              </kendo-combobox-messages>
          </kendo-combobox>
      </div>
  </div>

  <div class="col-sm-12 {{moreClass}}" *ngIf="horizontalForm">
    <div class="form-row">
      <label for="{{id}}" *ngIf="label!=null && label!=''" class="{{classLabel}} col-form-label">{{label}}<span class="text-danger" *ngIf="required">*</span></label>
      <div class="{{classField}}" [ngClass]="validationerror!=''?'has-error':''" style="border:none !important;">
          <kendo-combobox class="form-control" [data]="_data" [(ngModel)]="model" [filterable]="filterable"
              [textField]="textField" [valueField]="valueField" (ngModelChange)="emit($event)" ngControl="model"
              [placeholder]="placeHolder" [valuePrimitive]="valuePrimitive" id="{{id}}" [readonly]="readonly"
              [disabled]="disabled" name="{{id}}" (valueChange)="valueChange($event)" (selectionChange)="onSelectionChange($event)"
              (filterChange)="filterChange($event)" (open)="open()" (close)="close()" (focus)="focus()" (blur)="blur()"
              title="{{title}}" [itemDisabled]="itemDisabled">
              <kendo-combobox-messages
                  clearTitle="Xóa"
                  noDataText="Không có dữ liệu">
              </kendo-combobox-messages>
          </kendo-combobox>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
      <div class="alert alert-danger alert-dismissible fade show mt-n-15" role="alert" *ngIf="validationerror!=''">
          <div [innerHTML]="validationerror"></div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="validationerror=''">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
  </div>
</div> -->
