app-combobox{
    padding-bottom: 1.34375em;
    .k-dropdown-wrap  {
       border: none !important;
       &.k-state-disabled{
           background: #ECEFF1;
       }
    }
    kendo-combobox{
        height: 42px !important;
        .k-input{
            margin-top: 5px;
            font-size: 14px !important;
            padding-left: 0 !important;
        }
    }
    &.on-header{    
        kendo-textbox-container{
            border-radius: 9999px;
            padding-top: 0.43125em;
            >.k-label{
                top: 1.03125em;
            }
            kendo-combobox{
                height: 34px !important;
            }  
        }
              
    }
    kendo-textbox-container{        
        background-color: rgba(0, 0, 0, 0.04);
        width: 100% !important;
        border-radius: 4px 4px 0 0;
        padding: .75em .75em 0 .75em;
        border-bottom: 1px solid rgba(82, 63, 105, 0.42);
        >.k-label{
            margin-left: 10px;
            background: none !important;
            transform: translate(0, -6px) translate(-1px, -0.53125em) translate(-12.5%, -9.375%) scale(.75) !important;
        }
        &.k-state-empty{            
            >.k-label{
                transform: translate(0, 0) scale(1) !important;
            }
            .label-intial-data{
                transform: translate(0, -6px) translate(-1px, -0.53125em) translate(-12.5%, -9.375%) scale(.75) !important;
            }
            &.k-state-initial{
                >.k-label{
                    transform: translate(0, -6px) translate(-1px, -0.53125em) translate(-12.5%, -9.375%) scale(.75) !important;
                }
            }
        }
        &.k-state-focused>.k-label {
            transform: translate(0, -6px) translate(-1px, -0.53125em) translate(-12.5%, -9.375%) scale(.75) !important;
            color:#005dab !important;
        }
        &:hover{ 
          &::after {
            opacity: 1;
            transform: scaleX(1);
          }
        }
    }
    &.no-label{    
        padding-bottom: 0;
        kendo-textbox-container{  
            padding-top: 0;
            vertical-align: middle !important;
            .k-clear-value{
                top: 14px;
            }
        }
    }
}
.item-no-padding{    
    .k-list{
        li{
        padding: 0 !important;
        }
    }
}
kendo-popup{
    z-index:100000 !important;
}