<vex-page-layout>
  <vex-page-layout-header class="pb-15" fxLayout="column" fxLayoutAlign="center start">
    <div [class.px-gutter]="true" class="w-full flex justify-between">
      <div>
        <vex-breadcrumbs [crumbs]="[{Title:'Danh Mục',Path:''},{Title:'Nhóm Hệ Thống',Path:''},{Title:'Bảo Hiểm Y Tế ',Path:''},
          {Title:'Dịch Vụ Khám Bệnh',Path:'/danh-muc/nhom-he-thong/bao-hiem-y-te/dich-vu-kham-benh', Active: true}]">
        </vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>
  <vex-page-layout-content [class.px-gutter]="true" class="-mt-6">
    <div class="card overflow-auto -mt-15">

      <app-grid baseRoute="danh-muc/nhom-he-thong/bao-hiem-y-te/dich-vu-kham-benh" [gridColumns]="gridColumns"
        [showStt]="true" [documentType]="documentType" [useAddDeault]="true" [useHeaderDefault]="true"
        [useActionDefault]="true" [checkboxAble]="false" [lazyLoadPage]="true" [detailTemplate]="detailTemplate"
        [showExportExcel]="true" (extExportExcel)="exportExcel()">
      </app-grid>

      <ng-template #detailTemplate let-dataItem>
        <app-grid baseRoute="/danh-muc/nhom-he-thong/bao-hiem-y-te/dich-vu-kham-benh" [gridColumns]="gridChildColumns"
          [documentType]="documentType" [useAddDeault]="false" [useHeaderDefault]="false" [useActionDefault]="false"
          [showStt]="true" [checkboxAble]="false" [lazyLoadPage]="true" [urlGetData]="urlGetDataGridChild"
          [allowSortDefault]="false" [urlGetTotalPage]="urlGetTotalPageGridChild" searchString="{{dataItem.Id}}"
          [autoHeight]="true" [pageable]="false">
        </app-grid>

      </ng-template>
    </div>
  </vex-page-layout-content>
</vex-page-layout>