.po-h {
    color: #005dab;
    position: relative;
    top: 5px;
    left: 5px;

    mat-icon{
        display: contents;
    }
}

.po-h.disabled {
    color: rgba(0, 0, 0, 0.12);
}

ul.inline > li{
    padding-right: 10px !important;
    padding-bottom: 0.625em;
    display: inline-block !important;
}