.form-footer {
    margin-top: 1.34375em;
}

.align-right-fx {
    margin-left: auto;
}

.kho-tong-ton-ng-template {
    display: inline;
    white-space: nowrap;
}

.kho-tong-ton-label {
    display: inline;
    text-overflow: ellipsis;
}

.info {
    margin-bottom: -8px;
    margin-top: 0px;
    
}