<app-header-form [crumbs]="[
    {Title:'Danh Mục',Path:''}
    ,{Title:'Nhóm Hệ Thống',Path:''}
    ,{Title:'Thuốc',Path:''}
    ,{Title:'Thuốc Hoặc Hoạt Chất',Path:'/danh-muc/nhom-he-thong/thuoc/thuoc-hoac-hoat-chat', Active:true}
    ]" [isicMoreVert]="false">
</app-header-form>

<div class="p-gutter" vexContainer>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div class="card" fxFlex="auto">
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title m-0">Thêm Thuốc Hoặc Hoạt Chất</h2>
            </div>

            <div class="px-6 py-4" fxLayout="column">

                <app-thuoc-hoac-hoat-chat-shared>
                </app-thuoc-hoac-hoat-chat-shared>

                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                    <app-formfooter [bodyComponent]="shared" type="create" (created)="onCreated()">
                    </app-formfooter>
                </div>
            </div>
        </div>
    </div>
</div>