<app-header-form [crumbs]="[
{Title:'Nhập Xuất',Path:''},
{Title:'Vật Tư',Path:''},
{Title:'Hoàn Trả',Path:''},
{Title:'Yêu Cầu Trả', Path:'/nhap-xuat/vat-tu/yeu-cau-tra-vat-tu', queryParams: {holdQuery : true}, Active: true}
]" [isicMoreVert]="false">
</app-header-form>
<div class="p-gutter" vexContainer>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div class="card" fxFlex="auto">
            <div class="px-6 py-4 border-b render-tu-choi" fxLayout="row" fxLayoutAlign="start center">
                <h2 style="width: 50%;" class="title m-0">Yêu Cầu Trả Vật Tư</h2>
                <span class="title-alert">Đã duyệt</span>
            </div>
            <div class="px-6 py-4" fxLayout="column">
                <app-yeu-cau-tra-vat-tu-other-shared [tuChoiDuyet]="false"></app-yeu-cau-tra-vat-tu-other-shared>
                <div style="margin-top:18px;" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                    <button type="button" (click)="huy()" mat-button class="mr-1"><i class="ft-arrow-left"></i>
                        Quay Lại</button>
                </div>
            </div>
        </div>
    </div>
</div>
