<app-header-form current="" [crumbs]="[
    {Title:'Danh Mục',Path:''}
    ,{Title:'Nhóm Hệ Thống',Path:''}
    ,{Title:'Thuốc',Path:''}
    ,{Title:'Dược Phẩm',Path:'/danh-muc/nhom-he-thong/thuoc/duoc-pham',Active:true}
]" [isicMoreVert]="false">
</app-header-form>

<div class="p-gutter" vexContainer>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div class="card" fxFlex="auto">
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title m-0">Thêm Dược Phẩm</h2>
            </div>

            <div class="px-6 py-4" fxLayout="column">

                <app-duoc-pham-shared></app-duoc-pham-shared>

                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                    <app-formfooter [bodyComponent]="shared" type="create" (created)="onCreated()">
                    </app-formfooter>

                    <!-- <div class="form-footer">
                        <button type="button" (click)="cancel()" mat-button class="mr-1"><i class="ft-arrow-left"></i> Hủy</button>
                        <button type="button" *ngIf="!loading" (click)="create()" color="primary" mat-raised-button><i
                                class="ft-save"></i>Thêm</button>
                        <button *ngIf="loading" class="btn btn-raised btn-raised btn-primary mb-0"><img src="/assets/img/loader.gif"
                                alt="Loading" /></button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>