fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px #e0e0e0;
    border-style: inherit;
    //border-radius: 4%;

    .item_right{
        text-align: right !important;
        float:right;
    }

    ul>li{
        padding-right: 15px !important;
    }

    ul.inline > li{
        display: inline-block !important;
    }
  }

  .po-h-radio{
    margin-top: -2px;
}