.permission{
    // background-image: url('../../../../assets/img/no-permission.png') !important;
    // background-position: center center !important;
    // background-size: cover;
    width:100%;
    text-align: center;
    padding: 50px;
    color: red;
}
