<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    <div style="text-transform: uppercase;">Kết quả CĐHA, TDCN</div>
    <button type="button" mat-icon-button mat-dialog-close tabindex="-1">
        <mat-icon [icIcon]="icClose" [mat-dialog-close]="null"></mat-icon>
    </button>
</div>
<mat-dialog-content style="height: 550px;">
    <div *ngIf="fileUrl != null && fileUrl != ''" class="container-iframe">
        <iframe id="fileKetQua" width="100%" height="100%" frameborder="0" [src]="fileUrl | safe"
            allowTransparency="true" background="transparent">
        </iframe>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="pb-5">
    <button type="button" style="margin-left: auto;" [mat-dialog-close]="null" mat-button class="mr-1 mt-4"><i
            class="ft-arrow-left"></i> Hủy</button>
    <button type="button" (click)="downloadFile()" mat-stroked-button color="primary" class="mr-1 mt-4">Tải
        file</button>
</mat-dialog-actions>