<vex-page-layout>
    <vex-page-layout-header class="pb-15" fxLayout="column" fxLayoutAlign="center start">
        <div [class.px-gutter]="true" class="w-full flex justify-between">
            <div>
                <vex-breadcrumbs [crumbs]="[
            {Title:'Danh Mục',Path:''}
            ,{Title:'Nhóm Giường Bệnh',Path:''}
            ,{Title:'Danh Mục Giường Bệnh',Path:'/danh-muc/nhom-giuong-benh/danh-muc-giuong-benh', Active: true}
            ]">
                </vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>
    <vex-page-layout-content [class.px-gutter]="true" class="-mt-6">
        <div class="card overflow-auto -mt-15">
            <app-grid baseRoute="danh-muc/nhom-giuong-benh/danh-muc-giuong-benh" [headerTemplate]="headerTemplate"
                [useHeaderDefault]="false" [lazyLoadPage]="true" [gridColumns]="gridColumns"
                [documentType]="documentType" [checkboxAble]="false" [useActionDefault]="true" [lazyLoadPage]="true">
            </app-grid>

            <ng-template #coHieuLucTemplate let-dataItem>
                <span
                    class="{{dataItem.CoHieuLuc==true?'green':'red'}}">{{dataItem.CoHieuLuc==true?'Có':'Không'}}</span>
            </ng-template>

            <ng-template #laGiuongNoiTemplate let-dataItem>
                <app-checkbox fxFlex="10%" fxFlex.sm="10%" id="LaGiuongNoi" class="mt-4 on-header"
                    [(model)]="dataItem.LaGiuongNoi" [disabled]="true">
                </app-checkbox>
            </ng-template>

            <ng-template #headerTemplate>
                <div class="bg-app-bar h-15 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                    <app-combobox id="KhoaId" fxFlex="300px" hierarchyKeyToSend="khoa" class="on-header item-no-padding"
                        popupSettings="null" [templateHeader]="khoaTemplateHeader" [template]="khoaTemplate"
                        label="Khoa" url="GiuongBenh/GetListKhoaPhong" (modelChange)="khoaChange($event)" bind="true"
                        [(model)]="giuongBenhSearch.KhoaId" style="margin-top: 20px;">
                    </app-combobox>
                    <ng-template #khoaTemplateHeader let-dataItem>
                        <table width="100%" class="table-combobox">
                            <tr>
                                <th width="30%">Mã</th>
                                <th>Tên</th>
                            </tr>
                        </table>
                    </ng-template>
                    <ng-template #khoaTemplate let-dataItem>
                        <table width="100%" class="table-combobox">
                            <tr>
                                <td width="30%">{{dataItem.Ma}}</td>
                                <td>{{dataItem.Ten}}</td>
                            </tr>
                        </table>
                    </ng-template>

                    <app-combobox id="PhongId" fxFlex="300px" hierarchyKeyToListen="khoa"
                        class="on-header item-no-padding" label="Phòng" [templateHeader]="phongTemplateHeader"
                        [template]="phongTemplate" (modelChange)="phongChange($event)" url="GiuongBenh/GetListPhong"
                        bind="true" [(model)]="giuongBenhSearch.PhongId" popupSettings="null"
                        style="margin-left: 5px;margin-top: 20px;">
                    </app-combobox>
                    <ng-template #phongTemplateHeader let-dataItem>
                        <table width="100%" class="table-combobox">
                            <tr>
                                <th width="20%">Mã</th>
                                <th>Tên</th>
                            </tr>
                        </table>
                    </ng-template>
                    <ng-template #phongTemplate let-dataItem>
                        <table width="100%" class="table-combobox">
                            <tr>
                                <td width="20%">{{dataItem.Ma}}</td>
                                <td>{{dataItem.Ten}}</td>
                            </tr>
                        </table>
                    </ng-template>


                    <div class="bg-card rounded-full border px-4" fxFlex="400px" fxFlex.lt-md="auto" fxHide.xs
                        fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px; margin-left: 5px;">
                        <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
                        <input [formControl]="searchCtrl" class="px-4 py-2 border-0 outline-none w-full bg-transparent"
                            type="search" name="searchString" [(ngModel)]="searchString" (keyup)="onKey($event)"
                            placeholder="Nhập từ khóa..." (ngModelChange)="searchChanges()" />
                        <!-- (ngModelChange)="searchChanges()"  -->
                    </div>

                    <button type="button" color="primary" (click)="TimkiemNangCao()" class="ml-2"
                        mat-raised-button>Tìm</button>

                    <span fxFlex></span>

                    <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
                        <div *ngFor="let column of gridColumns">
                            <button
                                class="checkbox-item mat-menu-item mat-checkbox mat-primary mat-checkbox-disabled _mat-animation-noopable ng-untouched ng-pristine mat-checkbox-checked">
                                <mat-checkbox [disabled]="true" color="primary">
                                    {{ column.Title }}
                                </mat-checkbox>
                            </button>
                        </div>
                    </mat-menu>

                    <div class="button-add">

                        <button [matMenuTriggerFor]="columnFilterMenu" class="mr-4" fxFlex="none" mat-icon-button
                            kendoTooltip title="Lọc cột" type="button">
                            <mat-icon [icIcon]="icFilterList"></mat-icon>
                        </button>

                        <button (click)="exportExcel()" class="mr-6" fxFlex="none" mat-icon-button kendoTooltip
                            title="Xuất Excel" type="button">
                            <mat-icon [icIcon]="icFileExcel"></mat-icon>
                        </button>
                        <button (click)="themMoi()" class="mr-6" color="primary" fxFlex="none" mat-mini-fab kendoTooltip
                            title="Thêm" type="button">
                            <mat-icon [icIcon]="icAdd"></mat-icon>
                        </button>
                    </div>
                </div>
            </ng-template>

        </div>


    </vex-page-layout-content>
</vex-page-layout>