#table-chuc-nang-song {
    border: 1px solid;
    border-collapse: collapse;
    margin-top: 1rem;

    tr th {
        border: 1px solid;
        padding: 8px;
    }

    tr td {
        border: 1px solid;
        padding: 10px 24px;
    }
}