<vex-page-layout>
    <vex-page-layout-header class="pb-15" fxLayout="column" fxLayoutAlign="center start">
        <div [class.px-gutter]="true" class="w-full flex justify-between">
            <div>
                <vex-breadcrumbs [crumbs]="[
                    {Title:'Thống kê', Path:''},
                    {Title:'Báo cáo', Path:''},
                    {Title:'CSKH', Path:''},
                    {Title:'Báo Cáo Bệnh Nhân Ra Viện Nội Trú', Path:'', Active:true}
                    ]">
                </vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>

    <vex-page-layout-content [class.px-gutter]="true" class="-mt-6">
        <div class="card overflow-auto -mt-15">
            <app-grid baseRoute="/bao-cao/duoc-pham-sap-het-han" [gridColumns]="gridColumns"
                [documentType]="documentType" [useAddDeault]="true" [headerTemplate]="headerTemplate"
                [gridDataSource]="gridDataSource" [showStt]="true" [useHeaderDefault]="false" [useActionDefault]="false"
                [checkboxAble]="false" [lazyLoadPage]="true">
            </app-grid>
        </div>

        <ng-template #headerTemplate>
            <div class="bg-app-bar p-0 h-15 border-b sticky left-0">
                <app-combobox id="KhoaId" fxFlex="15%" fxFlex.sm="15%" style="margin-left: 5px;"
                    class="mt-1 on-header pb-0 mr-1" label="Khoa" popupSettings="" bind="true"
                    [autoSelectFirstItem]="true" url="BaoCao/GetTatKhoaChoTiepNhanNoiTrus"
                    [(model)]="timKiemRaVienNoiTruSearch.KhoaId">
                </app-combobox>

                <div class="h-15 mt-0" fxFlex="40%" style="padding: 3px;">
                    <div class="bg-card rounded-full border" fxFlex="100%" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
                        fxLayoutAlign="start center" style="margin-top: 0px;">
                        <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
                        <input [formControl]="searchCtrl" class="px-4 py-2 border-0 outline-none w-full bg-transparent"
                            type="search" name="searchString" [(ngModel)]="SearchString"
                            placeholder="Tìm kiếm Mã tiếp nhận, Họ tên, Mã người bệnh" />
                    </div>
                    <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
                        <mat-icon [icIcon]="icSearch"></mat-icon>
                    </button>
                </div>

                <app-datetimepicker fxFlex="15%" [(model)]="timKiemRaVienNoiTruSearch.TuNgay" #tiepnhantu id="TuNgay"
                    [maxDate]="timKiemRaVienNoiTruSearch.DenNgay" label="Từ ngày" class="mt-1 on-header">
                </app-datetimepicker>

                <app-datetimepicker fxFlex="15%" [(model)]="timKiemRaVienNoiTruSearch.DenNgay" #tiepnhanden id="DenNgay"
                    [minDate]="timKiemRaVienNoiTruSearch.TuNgay" class="mt-1 on-header" label="Đến ngày">
                </app-datetimepicker>

                <div fxFlex="55%" fxFlex.sm="55%" class="pb-0">
                    <button type="button" color="primary" mat-raised-button mat-button class="mr-1 mt-1"
                        (click)="xemBaoCao()">Xem Báo Cáo</button>
                    <button type="button" color="primary" mat-raised-button mat-button class="mr-1 mt-1"
                        (click)="xuatBaoCao()">Xuất Excel</button>
                </div>

            </div>
        </ng-template>

    </vex-page-layout-content>

</vex-page-layout>