.yellowText{
    color: yellowgreen;
}
.redText{ 
    color:red; 
}
.greenText{
     color:green;
}
.orangeText{
    color: orange;
}
.blueText{
    color:blue;
}
.blackText{
    color: black;
}
#form-content{
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}
.form-footer{
    border-top: 1px solid #ccc;
}