<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center" class="mb-1">
    <div>CHỌN NGÀY ÁP DỤNG ĐƠN THUỐC</div>
    <button type="button" mat-icon-button (click)="close('NoAnswer')" tabindex="-1">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>

<mat-dialog-content style="overflow:hidden">
    <kendo-calendar #calendar id="calendar" [(ngModel)]="ngayTao" selectable="multiple"
        (valueChange)="onActiveDateChange($event)" (activeViewDateChange)="activeDateChange($event)"
        (activeViewChange)="activeDateChange($event)">
        <kendo-calendar-messages today="Hôm nay">
        </kendo-calendar-messages>
        <ng-template kendoCalendarCellTemplate let-date>
            <span *ngIf="!checkExist(date)">{{date.getDate()}}</span>
            <span *ngIf="checkExist(date)" style="color:#ebeced;">{{date.getDate()}}</span>
        </ng-template>

        <!-- <ng-template kendoCalendarCellTemplate let-date>
            <span [ngClass]="k-state-selected-red">{{date.getDate()}}</span>
        </ng-template> -->
    </kendo-calendar>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="70%" style="height: 41px;overflow-y: auto;">
        <span *ngIf="selectedDates.length>0">Đang chọn: <strong *ngFor="let date of selectedDates; index as i">{{date |
                date:'dd/MM/yyyy'}} <span *ngIf="i<selectedDates.length-1">,</span> </strong> </span>
    </div>

    <div fxFlex="30%" style="text-align: right;">
        <button (click)="apDungDonThuoc()" type="button" class="mr-2" color="primary" mat-raised-button>Lưu</button>
    </div>
</mat-dialog-actions>