<app-header-form [crumbs]="[
{Title:'Nhập xuất',Path:''}
,{Title:'Dược phẩm',Path:''}
,{Title:'Dự trù mua',Path:''}
,{Title:'Tổng Hợp Dự Trù Mua Dược Phẩm Tại Khoa Dược​',Path:'/nhap-xuat/duoc-pham/tong-hop-du-tru-mua-tai-khoa-duoc',Active:true}
]" [isicMoreVert]="false">
</app-header-form>
<div [@stagger]="true" class="p-gutter" vexContainer>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div @fadeInUp class="card" fxFlex="auto">
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title m-0">Chi Tiết Tổng Hợp Dự Trù Mua Dược Phẩm Tại Khoa Dược</h2>
                <b
                    class="status-yeu-cau-linh {{trangThai.DuocDuyet == null ? 'ycl-cho-duyet': trangThai.DuocDuyet == false ? 'ycl-tu-choi' : 'ycl-da-duyet'}}">{{trangThai.TenTrangThai}}</b>
            </div>
            <div class="px-6 py-4" fxLayout="column">
                <!-- <app-tong-hop-du-tru-mua-tai-khoa-duoc-shared (trangThaiYeuCau)="getTrangThai($event)">
                </app-tong-hop-du-tru-mua-tai-khoa-duoc-shared> -->
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="form-footer"> 
                    <!-- <span *ngIf="ishow === false">
                        <button type="button" (click)="back()" mat-button class="mr-1 align-right-fx"><i class="ft-arrow-left"></i> Quay
                            lại</button>
                    </span> -->
                    <!-- <button *ngIf="loading" class="btn btn-raised btn-raised btn-primary mb-0"><img
                            src="/assets/img/loader.gif" alt="Loading" /></button> -->
                </div>
            </div>
        </div>
    </div>

</div>