<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="isAnnouncement!=null" @fadeInUp class="card overflow-hidden w-full max-w-xs">
        <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
            <div class="fill-current text-center">
                <img class="w-16" src="assets/img/logo.png">
            </div>
        </div>

        <div class="text-center mt-4">
            <h2 class="title m-0">BỆNH VIỆN ĐA KHOA QUỐC TẾ BẮC HÀ</h2>
            <router-outlet></router-outlet>
        </div>

        <!-- <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px"> -->
        <div class="p-6" fxLayout="column" fxLayoutGap="16px">
            <app-textbox *ngIf="!isAnnouncement" id="password" fxFlex="grow" label="Mật khẩu" maxlength="100"
                [type]="'password'"[eyesDisplay]="true" [required]="true" [(model)]="request.Password" [isWhiteBackground]="true"
                [validationerror]="'Password' | validationerror:validationErrors">
            </app-textbox>

            <app-textbox *ngIf="!isAnnouncement" id="confirmPassword" fxFlex="grow" label="Mật khẩu xác nhận" maxlength="100"
                [type]="'password'" [eyesDisplay]="true" [required]="true" [(model)]="request.ConfirmPassword" [isWhiteBackground]="true"
                [validationerror]="'ConfirmPassword' | validationerror:validationErrors">
            </app-textbox>

            <button type="button" *ngIf="!loading && isAnnouncement==false" (click)="onSubmit()" color="primary" mat-raised-button>
                LƯU
            </button>

            <button *ngIf="loading" color="primary" mat-raised-button type="button">
                <img src="/assets/img/loader.gif" alt="Loading" style="display: inline;" />
            </button>

            <div fxFlex="auto" fxLayout="column" *ngIf="isAnnouncement==true">
                <p> 
                    Đường link khôi phục mật khẩu này đã hết hạn.
                    Bạn phải <a id="forgotPassword" routerLink="/khoi-phuc-mat-khau">tạo khôi phục mật khẩu mới</a>.
                </p>
            </div>

            <div id="sub-link" fxLayout="row" fxLayoutAlign="space-between center">
                <a [routerLink]="['/dang-nhap']" class="caption">Quay lại đăng nhập</a>
            </div>
        </div>
    </div>
</div>