<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center" class="mb-0">
    <div>BARCODE</div>
    <button type="button" mat-icon-button (click)="close()" tabindex="-1">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>

<mat-dialog-content style="overflow:hidden">
    <div class="container-iframe">
        <iframe width="100%" [src]="src| safe" allowTransparency="true" background="transparent">
        </iframe>
    </div>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center" fxLayoutGap="8px">
    <app-print-form class="mr-1 mt-2" textPrint="In" type="PDF" [bodyComponent]="this" [copies]="this.data.SoLuong" typeSize="1.5in 0.87in">
    </app-print-form>
</mat-dialog-actions>