<vex-page-layout>
    <vex-page-layout-header class="pb-15" fxLayout="column" fxLayoutAlign="center start">
        <div [class.px-gutter]="true" class="w-full flex justify-between">
            <div>
                <vex-breadcrumbs [crumbs]="[
                                {Title:'Báo Cáo',Path:''}
                                ,{Title:'Nhật Ký Hệ Thống',Path:''}
                                ,{Title:'Lịch Sử Email',Path:'/bao-cao/nhat-ky-he-thong/lich-su-goi-email', Active: true}
                                ]">
                </vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>
    <vex-page-layout-content [class.px-gutter]="true" class="-mt-6">
        <div class="card overflow-auto -mt-15">
            <app-grid baseRoute="bao-cao/nhat-ky-he-thong/lich-su-goi-email" [gridColumns]="gridColumns"
                [documentType]="documentType" [useActionDefault]="false" [lazyLoadPage]="true" [checkboxAble]="false"
                [useHeaderDefault]="false" [headerTemplate]="headerTemplate"
                [showExportExcel]="true" (extExportExcel)="exportExcel()">
            </app-grid>
            <ng-template #urlTemplate let-dataItem>
                <a href="{{dataItem.urlTapTinDinhKem}}" style="color:blue" target="blank">{{dataItem.TapTinDinhKem}}</a>
            </ng-template>

            <ng-template #noiDungTemplate let-dataItem>
                <div [innerHTML]="dataItem.NoiDung"></div>
            </ng-template>

            <ng-template #headerTemplate>
                <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="16px grid" fxLayoutGap.lt-sm="0"
                    class="m-0">
                    <app-textbox id="GoiDen" fxFlex="16%" fxFlex.sm="16%" [required]="false"
                        [(model)]="searchInfo.GoiDen" label="Gửi đến" [maxlength]="100">
                    </app-textbox>
                    <app-dropdownlist id="TrangThai" fxFlex="16%" fxFlex.sm="16%" [(model)]="searchInfo.TrangThai"
                        [modelText]="searchInfo.TenTrangThai" label="Trạng thái" url="LichSuSMS/GetTrangThaiSMS">
                    </app-dropdownlist>
                    <app-datepicker id="TuNgay" fxFlex="16%" fxFlex.sm="16%" [(model)]="searchInfo.TuNgay"
                        (modelChange)="changeValueStart($event)" label="Ngày gửi: từ">
                    </app-datepicker>
                    <app-datepicker id="DenNgay" fxFlex="16%" fxFlex.sm="16%" [(model)]="searchInfo.DenNgay" label="đến"
                        [minDate]=minDateDenNgay>
                    </app-datepicker>
                    <app-textbox class="col-sm-2" id="TieuDe" fxFlex="16%" fxFlex.sm="16%" [(model)]="searchInfo.TieuDe"
                        label="Tiêu đề" [maxlength]="100">
                    </app-textbox>
                    <div fxFlex="20%" fxFlex.sm="20%">
                        <button (click)="searchHistoryEmail()" mat-flat-button color="primary"
                            style="margin-top: 13px;">Tìm
                            kiếm</button>
                        <button (click)="reset()" mat-flat-button style="margin-top: 13px;" *ngIf="displayResetButton === true" class="ml-1">Hủy</button>
                        <button (click)="exportExcel()" type="button" color="primary" mat-raised-button mat-button class="ml-1">Xuất Excel</button>
                    </div>
                </div>
            </ng-template>
        </div>
    </vex-page-layout-content>
</vex-page-layout>