<vex-page-layout>
    <vex-page-layout-header class="pb-15" fxLayout="column" fxLayoutAlign="center start">
        <div [class.px-gutter]="true" class="w-full flex justify-between">
            <div>
                <!-- <h1 class="title mt-0 mb-1">Danh Mục Quốc Gia</h1> -->
                <vex-breadcrumbs [crumbs]="[
                    { Title: 'Danh Mục', Path: '' },
                    { Title: 'Nhóm Hệ Thống', Path: '' },
                    { Title: 'Hành Chính', Path: '' },
                    { Title: 'Quốc Gia', Path: '/danh-muc/nhom-he-thong/hanh-chinh/quoc-gia' , Active: true }]">
                </vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>
    <vex-page-layout-content [class.px-gutter]="true" class="-mt-6">
        <div class="card overflow-auto -mt-15">
            <app-grid baseRoute="/danh-muc/nhom-he-thong/hanh-chinh/quoc-gia"
                [gridColumns]="gridColumns" [documentType]="documentType" [useActionDefault]="true"
                [showExportExcel]="true" (extExportExcel)="exportExcel()"
                [lazyLoadPage]="true">
            </app-grid>
        </div>
    </vex-page-layout-content>

    <ng-template #trangThaiTemplate let-dataItem>
        <button *ngIf="dataItem.IsDisabled == 1" (click)="updateTinhTrang(dataItem.Id,dataItem.IsDisabled)" mat-menu-item>
            <mat-icon [icIcon]="icclose" color="warn"></mat-icon><span>Ngừng sử dụng</span>
        </button>
        <button *ngIf="dataItem.IsDisabled != 1" (click)="updateTinhTrang(dataItem.Id,dataItem.IsDisabled)" mat-menu-item>
            <mat-icon [icIcon]="icdone" color="primary"></mat-icon><span>Đang sử dụng</span>
        </button>
    </ng-template>    
</vex-page-layout>