.span-result-information{
    font-weight: bold;
}

.content-2{
    margin-top: 30px !important;
}

.content-1{
    border-bottom: 1px solid var(--foreground-divider);
}


fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em !important;
    padding-bottom: 0.625em !important;
    padding-left: 0.75em !important;
    padding-right: 0.75em !important;
    border: 1px #e0e0e0;
    border-style: inherit;
    //border-radius: 4%;

    .item_right{
        text-align: right !important;
        float:right;
    }

    ul>li{
        padding-right: 15px !important;
    }

    ul.inline > li{
        display: inline !important;
    }
  }


// expand row table
table {
  width: 100%;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  th{
    font-weight: bold;
    text-transform: uppercase;

    &.w-250{
      width: 250px;
    }
  }

  tr{
    &.bg-light-red{
      background-color: #eaa3a3;
    }
  }
}

.order-color {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-end;
  align-items: center;
  .set-color {
      padding: 10px 40px;
      &.black {
          background-color: black;
      }
      &.red {
          background-color: red;
      }
      &.blue {
          background-color: blue;
      }
  }
}

.div-header{
  justify-content: space-between !important;
}
