<vex-page-layout>
    <vex-page-layout-header class="pb-15" fxLayout="column" fxLayoutAlign="center start">
        <div [class.px-gutter]="true" class="w-full flex justify-between">
            <div>
                <vex-breadcrumbs [crumbs]="[
                    { Title: 'Thống Kê', Path:'' },
                    { Title: 'Vật Tư', Path:'' },
                    { Title: 'Tồn Kho', Path:'/bao-cao/ton-kho/vat-tu/vat-tu-ton-kho', Active: true}]">
                </vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>

    <vex-page-layout-content [class.px-gutter]="true" class="-mt-6">
        <kendo-tabstrip fxFlex="100%" class=" card -mt-15" (tabSelect)="onTabSelect($event)">
            <kendo-tabstrip-tab [title]="'Cảnh Báo Tồn Kho'" [selected]="tabCanhBaoTonKhoEnabled">
                <ng-template kendoTabContent>
                    <div>
                        <app-grid #canhBaoTonKhoGrid heightToolbar="190" [urlGetData]="vatTuTonKhoCanhBaoDataUrl"
                            [urlGetTotalPage]="vatTuTonKhoCanhBaoPagesUrl" [gridColumns]="gridColumnsCanhBaoTonKho"
                            [documentType]="documentType" [useAddDeault]="true" [headerTemplate]="headerTemplate"
                            [additionalSearchString]="defaultAdditionalSearchStringCanhBaoTonKho" [showStt]="true"
                            [useHeaderDefault]="false" [useActionDefault]="false" [checkboxAble]="false"
                            [lazyLoadPage]="true" (extOnDataBound)="onDataBoundGrid($event)">
                        </app-grid>
                    </div>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab [title]="" [selected]="tabTongHopTonKhoEnabled">
                <ng-template kendoTabContent>
                    <div>
                        <app-grid #tongHopTonKhoGrid heightToolbar="190" [urlGetData]="vatTuTonKhoTongHopDataUrl"
                            [urlGetTotalPage]="vatTuTonKhoTongHopPagesUrl" [gridColumns]="gridColumnsTongHopTonKho"
                            [documentType]="documentType" [useAddDeault]="true"
                            [headerTemplate]="headerTongHopTonKhoTemplate" [showStt]="true"
                            [additionalSearchString]="defaultAdditionalSearchStringTongHopTonKho"
                            [useHeaderDefault]="false" [useActionDefault]="false" [checkboxAble]="false"
                            [lazyLoadPage]="true" (extOnDataBound)="onDataBoundGridTongHopTonKho($event)">
                        </app-grid>
                    </div>
                </ng-template>
                <ng-template kendoTabTitle>
                    <span>
                        Tổng hợp tồn kho <span style="color:red;font-weight: bold;text-align: center;">Khả dụng</span>
                    </span>
                </ng-template>
            </kendo-tabstrip-tab>

            <kendo-tabstrip-tab [title]="'Nhập xuất tồn kho'" [selected]="tabNhapXuatTonKhoEnabled">
                <ng-template kendoTabContent>
                    <div>
                        <app-grid #nhapXuatTonKhoGrid heightToolbar="190" [urlGetData]="vatTuTonKhoNhapXuatDataUrl"
                            [urlGetTotalPage]="vatTuTonKhoNhapXuatPagesUrl" [gridColumns]="gridColumnsNhapXuatTonKho"
                            [groups]="groups" [documentType]="documentType" [useAddDeault]="true"
                            [headerTemplate]="headerNhapXuatTonKhoTemplate" [showStt]="true"
                            [additionalSearchString]="defaultAdditionalSearchStringNhapXuatTonKho"
                            [useHeaderDefault]="false" [useActionDefault]="false" [checkboxAble]="false"
                            [lazyLoadPage]="true" (extOnDataBound)="onDataBoundGridNhapXuatTonKho($event)">
                        </app-grid>
                    </div>
                </ng-template>
            </kendo-tabstrip-tab>
        </kendo-tabstrip>
    </vex-page-layout-content>
</vex-page-layout>

<ng-template #soLuongTonTemplate let-dataItem>
    {{dataItem.SoLuongTonDisplay}}
</ng-template>

<ng-template #tinhTrangCanhBaoTemplate let-dataItem>
    <span style="color: #f44336;" *ngIf="dataItem.CanhBao=='Hết tồn kho'"
        class="badge badge-pill badge-{{dataItem.MauCanhBao}}">{{dataItem.CanhBao}}
    </span>
    <span style="color: #673ab7;" *ngIf="dataItem.CanhBao=='Tồn kho quá nhiều'"
        class="badge badge-pill badge-{{dataItem.MauCanhBao}}">{{dataItem.CanhBao}}
    </span>
    <span style="color: #ff9800;" *ngIf="dataItem.CanhBao=='Sắp hết tồn kho'"
        class="badge badge-pill badge-{{dataItem.MauCanhBao}}">{{dataItem.CanhBao}}
    </span>
</ng-template>

<ng-template #tinhTrangTemplate let-dataItem>
    <span style="color: orange;" class="badge badge-pill">{{dataItem.NgayHetHanHienThi}}
    </span>
</ng-template>

<ng-template #tonDauKyTemplate let-dataItem>
    <p>{{dataItem.TonDauKyDisplay}}</p>
</ng-template>

<ng-template #nhapTrongKyTemplate let-dataItem>
    <p>{{dataItem.NhapTrongKyDisplay}}</p>
</ng-template>

<ng-template #xuatTrongKyTemplate let-dataItem>
    <p>{{dataItem.XuatTrongKyDisplay}}</p>
</ng-template>

<ng-template #tonCuoiKyTemplate let-dataItem>
    <p>{{dataItem.TonCuoiKyDisplay}}</p>
</ng-template>

<ng-template #nhomGroupHeaderTemplate let-value="value" let-dataItem>
    <strong>{{value}}</strong>
</ng-template>

<ng-template #theKhoTemplate let-dataItem>
    <button (click)="xemChiTietNhapXuatTonKho(dataItem.Id)" type="button" color="primary" style="text-align: center;"
        mat-raised-button mat-button>Xem
    </button>
</ng-template>

<ng-template #headerTemplate>
    <div class="bg-app-bar p-0 h-15 border-b sticky left-0">
        <div fxFlex="80%">
            <app-combobox id="Kho" fxFlex="300px" fxFlex.sm="auto" label="Chọn Kho" url="TonKho/GetKhoVatTus"
                popupSettings="" class="mt-1 on-header" style="margin-left: 5px;" [(model)]="searchInfo.KhoId"
                [autoSelectFirstItem]="true" [bind]="true" [modelText]="searchInfo.TenKho"
                (selectionChange)="KhoChange($event)">
            </app-combobox>

            <app-combobox id="CanhBao" fxFlex="300px" fxFlex.sm="auto" [(model)]="searchInfo.CanhBaoId"
                (selectionChange)="CanhBaoChange($event)" [modelText]="searchInfo.LoaiCanhBao" label="Cảnh báo"
                url="TonKho/GetCanhBao" popupSettings="" class="mt-1 on-header" style="margin-left: 5px;">
            </app-combobox>

            <div class="bg-card rounded-full border px-4" fxFlex="400px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
                fxLayoutAlign="start center" style="margin-top: 2px;margin-left: 5px;">
                <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
                <input class="px-3 py-2 border-0 outline-none w-full bg-transparent" type="search" name="searchString"
                    placeholder="{{searchPlaceHolder}}" [formControl]="searchCtrl" [(ngModel)]="searchInfo.SearchString"
                    (keyup)="onKey($event)" (ngModelChange)="searchChange()" />
            </div>
        </div>
        <div class="text-right" fxFlex="20%" style="margin: 5px;">
            <button (click)="exportExcel()" type="button" color="primary" [disabled]="!isExistData" mat-raised-button
                mat-button>Xuất Excel</button>
            <button (click)="xemBaoCao()" type="button" color="primary" [disabled]="!isExistData" class="ml-1"
                mat-raised-button mat-button>Xem
            </button>
            <app-print-form textPrint="In" [isDisable]="!isExistData" type="PDF" typeSize="{{printSize}}"
                [bodyComponent]="this" [showInMenuItem]="false" [showIconPrint]="false" [typeLayout]="printLayout">
            </app-print-form>
        </div>
    </div>
</ng-template>
<ng-template #headerTongHopTonKhoTemplate>
    <div class="bg-app-bar p-0 h-15 border-b sticky left-0">
        <div fxFlex="80%">
            <app-combobox id="KhoVatTuTongHop" fxFlex="300px" fxFlex.sm="auto" label="Chọn Kho"
                url="TonKho/GetKhoVatTus" popupSettings="" class="mt-1 on-header" style="margin-left: 5px;"
                [autoSelectFirstItem]="true" [(model)]="searchInfoTongHopTonKho.KhoId"
                [modelText]="searchInfoTongHopTonKho.TenKho" [bind]="true"
                (modelChange)="KhoTonKhoChange($event)" (selectionChange)="KhoChangeTongHopTonKho($event)">
            </app-combobox>

            <div class="bg-card rounded-full border px-4" fxFlex="400px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
                fxLayoutAlign="start center" style="margin-top: 2px;margin-left: 5px;">
                <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
                <input class="px-3 py-2 border-0 outline-none w-full bg-transparent" type="search" name="searchString"
                    placeholder="{{searchPlaceHolder}}" [formControl]="searchCtrl"
                    [(ngModel)]="searchInfoTongHopTonKho.SearchString" (keyup)="onKeyTongHopTonKho($event)"
                    (ngModelChange)="searchChangeTongHopTonKho()" />
            </div>
        </div>
        <div class="text-right" fxFlex="20%" style="margin: 5px;">
            <button (click)="exportExcelTonKhoTongHop()" type="button" color="primary"
                [disabled]="!isExistDataTongHopTonKho" mat-raised-button mat-button>Xuất Excel</button>
            <button (click)="xemBaoCaoTonKhoTongHop()" type="button" color="primary"
                [disabled]="!isExistDataTongHopTonKho" class="ml-1" mat-raised-button mat-button>Xem
            </button>
            <app-print-form textPrint="In" [isDisable]="!isExistDataTongHopTonKho" type="PDF"
                typeSize="{{printSize}}" [bodyComponent]="this" [showInMenuItem]="false" [showIconPrint]="false"
                [typeLayout]="printLayout">
            </app-print-form>
        </div>
    </div>
</ng-template>

<ng-template #headerNhapXuatTonKhoTemplate>
    <div class="bg-app-bar p-0 h-15 border-b sticky left-0">
        <div fxFlex="80%">
            <app-combobox id="KhoVatTuNhapXuat" fxFlex="300px" fxFlex.sm="auto"
                [(model)]="searchInfoNhapXuatTonKho.KhoId" (selectionChange)="KhoChangeNhapXuatTonKho($event)"
                [autoSelectFirstItem]="true" [modelText]="searchInfoNhapXuatTonKho.TenKho" label="Chọn Kho"
                url="TonKho/GetKhoVatTus" [bind]="true" popupSettings="" class="mt-1 on-header"
                style="margin-left: 5px;">
            </app-combobox>

            <app-daterangepicker style="margin-left: 5px;" id="Daterange" fxFlex="300px" fxFlex.sm="auto"
                [(model)]="searchInfoNhapXuatTonKho.RangeDate" label="Từ ngày - Đến ngày"
                (keyup)="onKeyNhapXuatTonKho($event)" (modelChange)="changDateRangeNhapXuatTonKho($event)"
                class="mt-1 on-header">
            </app-daterangepicker>

            <div class="bg-card rounded-full border px-4" style="margin-left: 20px;" fxFlex="400px" fxFlex.lt-md="auto"
                fxHide.xs fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px; margin-left: 5px;">
                <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
                <input [formControl]="searchCtrl" class="px-3 py-2 border-0 outline-none w-full bg-transparent"
                    placeholder="{{searchPlaceHolder}}" type="search" name="Description"
                    [(ngModel)]="searchInfoNhapXuatTonKho.SearchString" (keyup)="onKeyNhapXuatTonKho($event)"
                    (ngModelChange)="searchChangeNhapXuatTonKho()" />
            </div>
        </div>
        <div class="text-right" fxFlex="20%" style="margin: 5px;">
            <button (click)="exportExcelTonKhoNhapXuat()" type="button" color="primary"
                [disabled]="!isExistDataNhapXuatTonKho" mat-raised-button mat-button>Xuất Excel</button>
            <button (click)="xemBaoCaoTonKhoNhapXuat()" type="button" color="primary"
                [disabled]="!isExistDataNhapXuatTonKho" class="ml-1" mat-raised-button mat-button>Xem
            </button>
            <app-print-form textPrint="In" [isDisable]="!isExistDataNhapXuatTonKho" type="PDF"
                typeSize="{{printSize}}" [bodyComponent]="this" [showInMenuItem]="false" [showIconPrint]="false"
                [typeLayout]="printLayout">
            </app-print-form>
        </div>
    </div>
</ng-template>
<ng-template #actionTongHopTonKhoTemplate let-dataItem>
    <button *ngIf="searchInfoTongHopTonKho.KhoId!=null&&searchInfoTongHopTonKho.KhoId>0" (click)="suaTonKho(dataItem)"
        type="button" color="primary" style="text-align: center;" mat-raised-button mat-button>Chi tiết tồn kho
    </button>
</ng-template>
<ng-template #templateHeaderTemplate let-column="column" let-columnIndex="columnIndex">
    SỐ LƯỢNG TỒN <span style="color: red;"> KHẢ DỤNG</span>
</ng-template>