<app-header-form [isicMoreVert]="false"
                 [crumbs]="[
                        {Title:'Danh Mục',Path:''}
                        ,{Title:'Nhóm Hệ Thống',Path:''}
                        ,{Title:'Bảo Hiểm Y Tế'}
                        ,{Title:'Học Vị Học Hàm',Path:'/danh-muc/nhom-he-thong/bao-hiem-y-te/hoc-vi-hoc-ham',Active:true}
                    ]">
></app-header-form>
<div [@stagger]="true" class="p-gutter" vexContainer>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div @fadeInUp class="card" fxFlex="auto">
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title m-0">Thêm Học Vị Học Hàm</h2>
            </div>

            <div class="px-6 py-4" fxLayout="column">

                <app-hoc-vi-hoc-ham-share></app-hoc-vi-hoc-ham-share>

                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                    <app-formfooter [bodyComponent]="shared" type="create" (created)="onCreated()"></app-formfooter>
                </div>
            </div>
        </div>
    </div>

</div>