.thong-tin-tai-khoan-benh-nhan{
    float: right;
    font-weight: normal;
}

.grid-child{
    display: block !important
}

.span-1-goi-marketing{
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.span-2-goi-marketing{
    width: 53%; text-align: right;
}