<vex-page-layout>
    <vex-page-layout-header class="pb-15" fxLayout="column" fxLayoutAlign="center start">
        <div [class.px-gutter]="true" class="w-full flex justify-between">
            <div>
                <vex-breadcrumbs [crumbs]="[
                        {Title:'Bệnh Án Điện Tử',Path:''},
                         {Title:'Gáy Bệnh Án', Active: true}]">
                </vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>
    <vex-page-layout-content [class.px-gutter]="true" class="-mt-6">
        <div class="card overflow-auto -mt-15">
            <app-grid #gridChild baseRoute="/benh-an-dien-tu/gay-benh-an" [gridColumns]="gridColumns" [documentType]="documentType"
                [useActionDefault]="false" urlGetData="BenhAnDienTu/GetDataForGridAsyncDanhSachGayBenhAn"
                urlGetTotalPage="BenhAnDienTu/GetTotalPageForGridAsyncDanhSachGayBenhAn" [showStt]="true"
                [checkboxAble]="false" [showExportExcel]="true" (extExportExcel)="exportExcel()" [lazyLoadPage]="true">
            </app-grid>
        </div>
        <ng-template #trangThaiTemplate let-dataItem>
            <button *ngIf="dataItem.IsDisabled" mat-menu-item>
                <mat-icon [icIcon]="icicclose" color="warn"></mat-icon><span>Ngừng sử dụng</span>
            </button>
            <button *ngIf="!dataItem.IsDisabled" mat-menu-item>
                <mat-icon [icIcon]="icicdone" color="primary"></mat-icon><span>Đang sử dụng</span>
            </button>
        </ng-template>
    </vex-page-layout-content>

    <ng-template #actionTemplate let-dataItem>
        <button kendoTooltip title="Hành động" [matMenuTriggerFor]="actionsMenu" mat-icon-button type="button">
            <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
        </button>
        <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
            <ng-template let-customer="customer" matMenuContent>
                <button (click)="sua(dataItem.Id)" mat-menu-item>
                    <mat-icon [icIcon]="icEdit"></mat-icon>
                    <span>Sửa</span>
                </button>
                <button (click)="xoa(dataItem.Id)" mat-menu-item>
                    <mat-icon [icIcon]="icDelete"></mat-icon>
                    <span>Xóa</span>
                </button>
            </ng-template>
        </mat-menu>
    </ng-template>
</vex-page-layout>