<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="16px grid" fxLayoutGap.lt-sm="0">

    <div fxFlex="100%" *ngIf="!isCreate && trangThaiVo != null && trangThaiVo.TrangThai == false">
        <h4 style="color: red;">Lý do: {{yeuCauMuaVatTu.LyDoTruongKhoaTuChoi}}</h4>
    </div>

    <app-combobox id="KhoId" fxFlex="20" fxFlex.sm="20" [required]="true" [(model)]="yeuCauMuaVatTu.KhoId"
        [modelText]="yeuCauMuaVatTu.TenKho" label="Kho" (modelChange)="clearGridVatTu()"
        (openCombobox)="openCombobox($event)"
        [disabled]="(trangThaiVo != undefined && trangThaiVo != null && (trangThaiVo.TrangThai == true || trangThaiVo.TrangThai == false) && icDisable == true) || (icDisable == true)"
        url="YeuCauMuaDuocPham/GetKho" [validationerror]="'KhoId' | validationerror:validationErrorsVatTu">
    </app-combobox>

    <app-combobox id="duTruTheo" fxFlex="20" [required]="true"
        [disabled]="(trangThaiVo != undefined && trangThaiVo != null && trangThaiVo.IsKhoaDuyet == true || trangThaiVo.TrangThai == true || trangThaiVo.TrangThai == false)"
        [(model)]="yeuCauMuaVatTu.KyDuTruMuaDuocPhamVatTuId" [modelText]="yeuCauMuaVatTu.TenKyDuTru" label="Kỳ dự trù"
        url="YeuCauMuaVatTu/GetKyDuTruVatTu" (openCombobox)="openCombobox($event)"
        [validationerror]="'KyDuTruMuaDuocPhamVatTuId' | validationerror:validationErrorsVatTu">
    </app-combobox>

    <app-textbox id="nguoiYeuCau" [fxFlex]="20" [fxFlex.sm]="20" [(model)]="yeuCauMuaVatTu.TenNhanVienYeuCau"
        [required]="true" maxlength="250" label="Người yêu cầu" [disabled]="true">
    </app-textbox>

    <app-datetimepicker id="ngayYeuCau"
        [fxFlex]="trangThaiVo != null && (trangThaiVo.IsKhoaDuyet == null ||trangThaiVo.TrangThai == null) ? 'auto' :'20' "
        [fxFlex.sm]="20" [(model)]="yeuCauMuaVatTu.NgayYeuCau" [disabled]="true" [required]="true" label="Ngày yêu cầu">
    </app-datetimepicker>

    <app-textbox
        *ngIf="trangThaiVo != null && (trangThaiVo.IsKhoaDuyet == true ||trangThaiVo.TrangThai == true || trangThaiVo.TrangThai == false)"
        id="khoaduyet" [fxFlex]="20" [fxFlex.sm]="20" [(model)]="yeuCauMuaVatTu.TenTruongKhoa" [required]="true"
        maxlength="250" label="T.Khoa duyệt" [disabled]="true">
    </app-textbox>

    <app-datetimepicker
        *ngIf="trangThaiVo != null && ( trangThaiVo.IsKhoaDuyet == true || trangThaiVo.TrangThai == true || trangThaiVo.TrangThai == false)"
        id="ngaykhoaduyet" [fxFlex]="20" [fxFlex.sm]="20" [(model)]="yeuCauMuaVatTu.NgayTruongKhoaDuyet"
        [disabled]="true" [required]="true" label="Ngày t.Khoa duyệt">
    </app-datetimepicker>

    <app-textbox
        *ngIf="trangThaiVo != null && ((trangThaiVo.IsKhoaDuyet == true && trangThaiVo.IsKhoDuocDuyet == true) || trangThaiVo.TrangThai == true 
            || (trangThaiVo.IsKhoDuocDuyet == false || (trangThaiVo.IsKhoDuocDuyet == false && trangThaiVo.TrangThai == false)))"
        id="khoaduocduyet" [fxFlex]="20" [fxFlex.sm]="20" [(model)]="yeuCauMuaVatTu.TenNhanVienKhoDuoc"
        [required]="true" maxlength="250" label="K.dược duyệt" [disabled]="true">
    </app-textbox>

    <app-datetimepicker
        *ngIf="trangThaiVo != null && ((trangThaiVo.IsKhoaDuyet == true && trangThaiVo.IsKhoDuocDuyet == true) || trangThaiVo.TrangThai == true 
    || (trangThaiVo.IsKhoDuocDuyet == false || (trangThaiVo.IsKhoDuocDuyet == false && trangThaiVo.TrangThai == false)))"
        id="ngaykhoaduocduyet" [fxFlex]="20" [fxFlex.sm]="20" [(model)]="yeuCauMuaVatTu.NgayKhoDuocDuyet"
        [disabled]="true" [required]="true" label="Ngày k.dược duyệt">
    </app-datetimepicker>

    <app-textbox
        *ngIf="!isCreate && trangThaiVo != null && (trangThaiVo.TrangThai == true 
    || (trangThaiVo.IsGiamDocDuyet == false || (trangThaiVo.IsGiamDocDuyet == false && trangThaiVo.TrangThai == false)))"
        id="giamdocduyet" [fxFlex]="20" [fxFlex.sm]="20" [(model)]="yeuCauMuaVatTu.TenGiamDoc" [required]="true"
        maxlength="250" label="Giám đốc duyệt" [disabled]="true">
    </app-textbox>

    <app-datetimepicker *ngIf="!isCreate && trangThaiVo != null 
                                        && (trangThaiVo.TrangThai == true 
                                        || trangThaiVo.IsGiamDocDuyet == false 
                                        || (trangThaiVo.IsGiamDocDuyet == false && trangThaiVo.TrangThai == false))"
        id="ngaygiamdocduyet" [fxFlex]="20" [fxFlex.sm]="20" [(model)]="yeuCauMuaVatTu.NgayGiamDocDuyet"
        [disabled]="true" [required]="true" label="Ngày g.đốc duyệt">
    </app-datetimepicker>

    <app-textarea id="ghiChu"
        [fxFlex]="trangThaiVo != null && ((trangThaiVo.IsKhoaDuyet == null && trangThaiVo.IsKhoaDuyet == null) || trangThaiVo.IsKhoaDuyet == null) ? '100%' :'auto'"
        fxFlex.sm="100" maxlength="1000" label="Ghi chú" minHeight="20"
        [disabled]="trangThaiVo != undefined && trangThaiVo != null && (trangThaiVo.IsKhoaDuyet == true || trangThaiVo.TrangThai == true || trangThaiVo.TrangThai == false)"
        [(model)]="yeuCauMuaVatTu.GhiChu">
    </app-textarea>


    <h3 fxFlex="100%" class="sub-title mt-0">Thông tin chi tiết</h3>
    <ng-container>
        <app-radio
            *ngIf="trangThaiVo != undefined && trangThaiVo != null && (trangThaiVo.IsKhoaDuyet == null && trangThaiVo.TrangThai == null)"
            id="loai" label="Loại" fxFlex="20%" fxFlex.sm="15%" [(model)]="vatTuGrid.LoaiVatTu" (modelChange)="huy()"
            [disabled]="yeuCauMuaVatTu.KhoId == undefined || yeuCauMuaVatTu.KhoId == null"
            [items]="[{Value:1,Text:'Không BHYT'},{Value:2,Text:'BHYT'}]">
        </app-radio>

        <app-combobox
            *ngIf="trangThaiVo != undefined && trangThaiVo != null && (trangThaiVo.IsKhoaDuyet == null && trangThaiVo.TrangThai == null)"
            id="vatTu" fxFlex="35%" fxFlex.sm="35%" [required]="true" url="YeuCauMuaVatTu/GetVatTuMuaDuTru"
            [(model)]="vatTuGrid.VatTuId" (selectionChange)="chonVatTu($event)" [template]="vatTuTemplate"
            (keyup)="onKey($event)" (openCombobox)="openCombobox($event)" [templateHeader]="vatTuTemplateHeader"
            [disabled]="yeuCauMuaVatTu.KhoId == undefined || yeuCauMuaVatTu.KhoId == null" label="Vật tư"
            [queryInfo]="{ParameterDependencies:'{KhoId:' + yeuCauMuaVatTu.KhoId +', LaVatTuBHYT: '+ vatTuGrid.LoaiVatTu+'}', Take: 50}"
            class="item-no-padding" [validationerror]="'VatTuId' | validationerror:validationErrors"
            [popupSettings]="{width: 800,popupClass:'item-no-padding'}">
            <ng-template #vatTuTemplateHeader let-dataItem>
                <table width="100%" class="table-combobox">
                    <tr>
                        <th width="15%">Mã</th>
                        <th>Tên</th>
                        <th width="5%">ĐVT</th>
                        <th width="20%">Quy Cách</th>
                    </tr>
                </table>
            </ng-template>
            <ng-template #vatTuTemplate let-dataItem>
                <table width="100%" class="table-combobox">
                    <tr>
                        <td width="15%">{{dataItem.Ma}}</td>
                        <td>{{dataItem.Ten}}</td>
                        <td width="5%">{{dataItem.DVT}}</td>
                        <td width="20%">{{dataItem.QuyCach}}</td>
                    </tr>
                </table>
            </ng-template>
        </app-combobox>

        <div fxFlex="5%" class="mt-2" fxLayoutAlign="start center">
            <button
                *ngIf="trangThaiVo != undefined && trangThaiVo != null && (trangThaiVo.IsKhoaDuyet == null && trangThaiVo.TrangThai == null)"
                (click)="themVatTuBV()" class="right" color="primary" fxFlex="none" mat-mini-fab kendoTooltip
                title="Thêm vật tư" type="button"
                [disabled]="yeuCauMuaVatTu.KhoId == undefined || yeuCauMuaVatTu.KhoId == null">
                <mat-icon [icIcon]="icAdd"></mat-icon>
            </button>
        </div>

        <app-textboxnumeric
            *ngIf="trangThaiVo != undefined && trangThaiVo != null && (trangThaiVo.IsKhoaDuyet == null && trangThaiVo.TrangThai == null)"
            [fxFlex]="20" id="slDuTru" label="SL dự trù" [(model)]="vatTuGrid.SoLuongDuTru" [required]="true"
            (keyup)="onKey($event)" max="999999999"
            [disabled]="yeuCauMuaVatTu.KhoId == undefined ||yeuCauMuaVatTu.KhoId == null" min="1"
            [validationerror]="'SoLuongDuTru' | validationerror:validationErrors">
        </app-textboxnumeric>

        <app-textboxnumeric
            *ngIf="trangThaiVo != undefined && trangThaiVo != null && (trangThaiVo.IsKhoaDuyet == null && trangThaiVo.TrangThai == null)"
            [fxFlex]="20" id="slDuKienTrongKy" label="D.kiến s.dụng trong kỳ" [required]="true" max="999999999" min="1"
            (keyup)="onKey($event)" [(model)]="vatTuGrid.SoLuongDuKienSuDung"
            [disabled]="yeuCauMuaVatTu.KhoId == undefined || yeuCauMuaVatTu.KhoId == null"
            [validationerror]="'SoLuongDuKienSuDung' | validationerror:validationErrors">
        </app-textboxnumeric>

        <app-textarea id="ghiChuChiTiet" fxFlex="100%" fxFlex.sm="100" maxlength="2000" label="Ghi chú" minHeight="20"
            *ngIf="trangThaiVo != undefined && trangThaiVo != null && (trangThaiVo.IsKhoaDuyet == null && trangThaiVo.TrangThai == null)"
            (keyup)="onKey($event)" [disabled]="yeuCauMuaVatTu.KhoId == undefined ||yeuCauMuaVatTu.KhoId == null"
            [(model)]="vatTuGrid.GhiChu">
        </app-textarea>


        <ng-container *ngIf="vatTuGrid.VatTuId != undefined && vatTuGrid.VatTuId != null">
            <ng-template #templateInfo let-dataItem>
                <table class="tablecolor " width="100%">
                    <tr *ngFor="let khoTong of thongTinVatTu.ThongTinChiTietTonKhoTongs">
                        <td>{{khoTong.Ten}}: {{khoTong.SoLuongTon}}</td>
                    </tr>
                </table>
            </ng-template>

            <ng-template #templateInfoHDT let-dataItem>
                <table class="tablecolor " width="100%">
                    <tr *ngFor="let hdt of thongTinVatTu.ThongTinChiTietTonHDTs">
                        <td>{{hdt.Ten}}: {{hdt.SoLuongTon}}</td>
                    </tr>
                </table>
            </ng-template>
            <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px grid" fxLayoutGap.lt-sm="0" fxFlex="100%"
                style="padding-top: 10px;">
                <div fxFlex="100%" kendoTooltip>
                    <fieldset
                        style="border:1px solid #ccc;border-radius: 5px;padding: 7px 15px 8px 15px;background: #e3f2fd;">
                        <div fxFlex="100%">
                            <ul class="inline">
                                <li>Đơn vị tính: <strong>{{thongTinVatTu.DVT}}</strong></li>
                                <li>Quy cách: <strong>{{thongTinVatTu.QuyCach}}</strong></li>
                                <li>Nhà SX: <strong>{{thongTinVatTu.NhaSX}}</strong></li>
                                <li>Nước SX: <strong>{{thongTinVatTu.NuocSX}}</strong></li>


                                <!-- </ul><br>
                            <ul class="inline"> -->
                                <li *ngIf="thongTinVatTu.SLTonDuTru > 0" style="color:red">
                                    Số lượng tồn trong kho dự trù:
                                    <strong>{{thongTinVatTu.SoLuongTonDuTru}}</strong>
                                </li>

                                <li *ngIf="thongTinVatTu.SLTonDuTru == 0 || thongTinVatTu.SLTonDuTru == null"
                                    style="color:red">
                                    Số lượng tồn trong kho dự trù:
                                    <strong>0</strong>
                                </li>

                                <li *ngIf="thongTinVatTu.SLTonKhoTong > 0">
                                    <span fxFlex="90%" style="color:green">Số lượng tồn trong kho tổng:
                                        <strong>{{thongTinVatTu.SoLuongTonKhoTong}}</strong>
                                    </span>
                                    <span fxFlex="10%" #tooltip="kendoTooltip" tooltipClass="tooltip-block" kendoTooltip
                                        [tooltipTemplate]="templateInfo" filter="*">
                                        <mat-icon [icIcon]="icInfo" class="info">
                                        </mat-icon>
                                    </span>
                                </li>
                                <li *ngIf="thongTinVatTu.SLTonKhoTong == 0 || thongTinVatTu.SLTonKhoTong == null">
                                    <span style="color:green">Số lượng tồn trong kho tổng:
                                        <strong>0</strong>
                                    </span>
                                </li>

                                <li *ngIf="thongTinVatTu.SLChuaNhapVeHDT > 0">
                                    <span fxFlex="95%" style="color:blue">Số lượng chưa nhập về trong HĐ thầu:
                                        <strong>{{thongTinVatTu.SoLuongChuaNhapVeHDT}}</strong>
                                    </span>
                                    <span fxFlex="5%" #tooltip="kendoTooltip" tooltipClass="tooltip-block" kendoTooltip
                                        [tooltipTemplate]="templateInfoHDT" filter="*">
                                        <mat-icon [icIcon]="icInfo" class="info">
                                        </mat-icon>
                                    </span>
                                </li>

                                <li *ngIf="thongTinVatTu.SLChuaNhapVeHDT == 0 || thongTinVatTu.SLChuaNhapVeHDT == null">
                                    <span style="color:blue">Số lượng chưa nhập về trong HĐ thầu:
                                        <strong>0</strong>
                                    </span>
                                </li>

                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
        </ng-container>



        <div fxFlex="100%" fxLayoutAlign="end center" kendoTooltip>
            <button
                *ngIf="trangThaiVo != undefined && trangThaiVo != null && (trangThaiVo.IsKhoaDuyet == null && trangThaiVo.TrangThai == null)"
                type="button" color="primary" (click)="huy()"
                [disabled]="yeuCauMuaVatTu.KhoId == undefined ||yeuCauMuaVatTu.KhoId == null" mat-stroked-button
                mat-button class="mr-1">Hủy</button>

            <button
                *ngIf="trangThaiVo != undefined && trangThaiVo != null && (trangThaiVo.IsKhoaDuyet == null && trangThaiVo.TrangThai == null)"
                type="button" color="primary" (click)="themVatTu()"
                [disabled]="yeuCauMuaVatTu.KhoId == undefined || yeuCauMuaVatTu.KhoId == null" mat-raised-button
                mat-button>Thêm</button>
        </div>
    </ng-container>
    <div fxFlex="100%">
        <app-grid fxFlex="100%" fxFlex.sm="100%" style="width: 1px;" [gridDataSource]="gridDataSource" #gridVatTu
            [gridColumns]="gridColumns" [allowSortDefault]="true" [documentType]="documentType" [useAddDeault]="false"
            [useHeaderDefault]="false" [useActionDefault]="false" [checkboxAble]="false" [lazyLoadPage]="true"
            [groups]="groups" maxHeight="500" [pageable]="false">
        </app-grid>
        <ng-template #STTTemplate let-rowIndex="rowIndex">
            {{rowIndex + 1}}
        </ng-template>
        <ng-template #nhomGroupHeaderTemplate let-value="value">
            <strong>{{value}}</strong>
        </ng-template>
        <ng-template #actionTemplate let-dataItem>
            <div class="text-center" kendoTooltip>
                <button color="primary" style="color: red" mat-icon-button kendoTooltip title="Xóa" type="button"
                    *ngIf="trangThaiVo != undefined && trangThaiVo != null && trangThaiVo.IsKhoaDuyet == null && trangThaiVo.TrangThai == null"
                    (click)="xoaVatTu(dataItem)">
                    <mat-icon [icIcon]="icDelete"></mat-icon>
                </button>
            </div>
        </ng-template>

        <ng-template #slDuTruVatTuTemplate let-dataItem let-rowIndex="rowIndex">
            <app-textboxnumeric [(model)]="dataItem.SoLuongDuTru" [required]="true" class="no-label" min="1"
                *ngIf="trangThaiVo != undefined && trangThaiVo != null && (trangThaiVo.IsKhoaDuyet == null && trangThaiVo.TrangThai == null)"
                [max]="999999999" label=" "
                [validationerror]="'DuTruMuaVatTuChiTiets['+rowIndex+'].SoLuongDuTru' | validationerror:validationErrorsVatTu">
            </app-textboxnumeric>

            <span *ngIf="trangThaiVo != undefined && trangThaiVo != null && (trangThaiVo.IsKhoaDuyet == true ||trangThaiVo.TrangThai == true ||
            trangThaiVo.TrangThai == false)" class="no-label">
                {{dataItem.SoLuongDuTru}}
            </span>
        </ng-template>

        <ng-template #slDuKienVatTuTemplate let-dataItem let-rowIndex="rowIndex">
            <app-textboxnumeric
                *ngIf="trangThaiVo != undefined && trangThaiVo != null && (trangThaiVo.IsKhoaDuyet == null && trangThaiVo.TrangThai == null)"
                [(model)]="dataItem.SoLuongDuKienSuDung" [required]="true" class="no-label" min="1" [max]="999999999"
                label=" "
                [validationerror]="'DuTruMuaVatTuChiTiets['+rowIndex+'].SoLuongDuKienSuDung' | validationerror:validationErrorsVatTu">
            </app-textboxnumeric>
            <span *ngIf="trangThaiVo != undefined && trangThaiVo != null && (trangThaiVo.IsKhoaDuyet == true || trangThaiVo.TrangThai == true ||
            trangThaiVo.TrangThai == false)" class="no-label">
                {{dataItem.SoLuongDuKienSuDung}}
            </span>
        </ng-template>

        <ng-template #ghiChuChiTietTemplate let-dataItem>
            <app-textarea
                *ngIf="trangThaiVo != undefined && trangThaiVo != null && (trangThaiVo.IsKhoaDuyet == null && trangThaiVo.TrangThai == null)"
                minHeight="20" [(model)]="dataItem.GhiChu" class="no-label" label=" " maxlength="2000">
            </app-textarea>

            <span *ngIf="trangThaiVo != undefined && trangThaiVo != null && (trangThaiVo.IsKhoaDuyet == true || trangThaiVo.TrangThai == true ||
            trangThaiVo.TrangThai == false)" class="no-label">
                {{dataItem.GhiChu}}
            </span>
        </ng-template>
    </div>


</div>