#forgot-password {
    margin: 0 -30px;
}
.gradient-indigo-purple {
    background:#005dab;
}

.title {
    font-size: 15px;
}

#sub-link {
    display: block !important;
}

#sub-link a {
    float: right;
}