<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
    <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
        <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
            <div class="fill-current text-center">
                <img class="w-16" src="assets/img/logo.png">
            </div>
        </div>

        <div class="text-center mt-4">
            <h2 class="title m-0">BỆNH VIỆN ĐA KHOA QUỐC TẾ BẮC HÀ</h2>
            <router-outlet></router-outlet>
        </div>

        <div class="p-6" fxLayout="column" fxLayoutGap="16px">
            <app-textbox *ngIf="!isAnnouncement" id="UserName" fxFlex="grow" label="Email" maxlength="200"
                [required]="true" [(model)]="request.UserName" [isWhiteBackground]="true"
                [validationerror]="'UserName' | validationerror:validationErrors">
            </app-textbox>

            <button type="button" *ngIf="!loading && !isAnnouncement" (click)="onSubmit()" color="primary" mat-raised-button>
                KHÔI PHỤC MẬT KHẨU
            </button>

            <button *ngIf="loading" color="primary" mat-raised-button type="button">
                <img src="/assets/img/loader.gif" alt="Loading" style="display: inline;" />
            </button>

            <div fxFlex="auto" fxLayout="column" *ngIf="isAnnouncement">
                <p> 
                    Bạn phải kích hoạt đường link khôi phục mật khẩu được gửi trong email, link này có thời hạn trong vòng 15 phút. 
                    Sau 15 phút sẽ không thể sử dụng để khôi phục mật khẩu nữa.
                </p>
            </div>

            <div id="sub-link" fxLayout="row" fxLayoutAlign="space-between center">
                <a [routerLink]="['/dang-nhap']" class="caption">Quay lại đăng nhập</a>
            </div>
        </div>
    </div>
</div>