.button-chon{
    color: white !important;
    background-color: #005dab !important;
    text-align: center !important;
    border-radius: 3px !important;
}
.button-chon:hover {
    background-color: #005dab
}
