.boder-table-main {
  border: 1px solid #020000;
  width: 100%;
}
.boder-table {
  border: 1px solid #020000;

  text-align: center;
}

.boder-table-left {
  border: 1px solid #020000;

  text-align: left;
}

.boder-table-center {
  border: 1px solid #020000;
  text-align: center;
}

.toDamCanhGiua {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
