.container-iframe{
    position: relative;
    width: 100%;
    height: 1080px;    
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .pagebreak{            
            border-bottom: 2px dashed #000;
            margin-bottom: 15px;
        }
    }
}