.form-footer{
    margin-top: 1.34375em;
}
fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em !important;
    padding-bottom: 0.625em !important;
    padding-left: 0.75em !important;
    padding-right: 0.75em !important;
    border: 1px #e0e0e0;
    border-style: inherit;
    //border-radius: 4%;
    legend{
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
    }
    .item_right{
        text-align: right !important;
        float:right;
    }

    ul>li{
        padding-right: 15px !important;
    }

    ul.inline > li{
        display: inline-block !important;
    }
  }