.size-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: green;
  color: #fff;
  text-align: center;
}
.float_right {
  float: right;
}
.color-green {
  color: green;
}
.color-red {
  color: red;
}

.reverse-ellipsis.r {
  text-align: right;
  direction: inherit;
}
.yellowText{
  color: yellowgreen;
}
.redText{ 
  color:red; 
}
.greenText{
   color:green;
}
.orangeText{
  color: orange;
}
.blueText{
  color:blue;
}
.blackText{
  color: black;
}
.red-text {
  color: red;
}

.green-text {
  color: green;
}

.size-icon-duoc-bhyt {
  display: inline-block;
  height: 14px;
  width: 14px;
  line-height: 20px;
  -moz-border-radius: 5px;
  border-radius: 7px;
  background-color: green;
  color: #fff;
  text-align: center;
  right: -4px;
  top: 6px;
  margin: 0;
}

.mouse-cursor{
  cursor: pointer;
}

.reverse-ellipsis.r {
  text-align: right;
  direction: inherit;
}

.size-icon-khong-bhyt {
  display: inline-block;
  height: 14px;
  width: 14px;
  line-height: 20px;
  -moz-border-radius: 5px;
  border-radius: 7px;
  background-color: red;
  color: #fff;
  text-align: center; 
  right: -4px;
  top: 6px;
  margin: 0;  
}
