.light-text {
    font-weight: lighter;
}

.bold-text{
    font-weight: bold;
}

.radio-lua-chon-benh-vien {
    .k-textbox-container {
        width: fit-content !important;
        background-color: transparent !important;
        border-bottom: none !important;
    }
}