.container-iframe {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: #ebeced;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

height_table {
  height: 60px !important;
}
.xet_nghiem {
  font-size: 17px;
  font-weight: 500;
}
