<vex-page-layout>
    <vex-page-layout-header class="pb-15" fxLayout="column" fxLayoutAlign="center start">
        <div [class.px-gutter]="true" class="w-full flex justify-between">
            <div>
                <vex-breadcrumbs [crumbs]="[
                    {Title:'Thống Kê', Path:''},
                    {Title:'Báo Cáo', Path:''},
                    {Title:'Kinh Doanh', Path:''},
                    {Title:'Tổng Hợp Công Nợ Chưa Thanh Toán', Path:'', Active:true}
                    ]">
                </vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>

    <vex-page-layout-content [class.px-gutter]="true" class="-mt-6">
        <div class="card -mt-15">
            <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="3px grid" fxLayoutGap.lt-sm="0">
                <app-combobox id="hinhThucDen" fxFlex="15%" fxFlex.sm="15%" class="mt-1 on-header" label="Hình thức đến" [reloadForGrid]="true"
                    url="BaoCao/GetHinhThucDenCoTatCa" [(model)]="baoCaoSearch.HinhThucDenId"  [autoSelectFirstItem]="true"
                    popupSettings="null" hierarchyKeyToSend="HinhThucDenId" (modelChange)="changeHinhThucDen($event)">
                </app-combobox>

                <app-combobox id="KhoId" fxFlex="15%" fxFlex.sm="15%" class="mt-1 on-header" label="Người giới thiệu" [reloadForGrid]="true"
                    url="BaoCao/GetNoiGioiThieuDaCoNguoiBenhCoTatCa" [(model)]="baoCaoSearch.NoiGioiThieuId" [autoSelectFirstItem]="true" 
                    [disabled]="baoCaoSearch.HinhThucDenId == undefined || baoCaoSearch.HinhThucDenId == 0"
                    [templateHeader]="noiGioiThieuTemplateHeader" [template]="noiGioiThieuTemplate" popupSettings="null" hierarchyKeyToListen="HinhThucDenId"
                    (modelChange)="changeNguoiGioiThieu($event)">
                    <ng-template #noiGioiThieuTemplateHeader let-dataItem>
                        <table width="100%" class="table-combobox">
                            <tr>
                                <th width="60%">Tên</th>
                                <th>Đơn vị</th>
                            </tr>
                        </table>
                    </ng-template>
                    <ng-template #noiGioiThieuTemplate let-dataItem>
                        <table width="100%" class="table-combobox">
                            <tr>
                                <td width="60%">{{dataItem.Ten}}</td>
                                <td>{{dataItem.Ma}}</td>
                            </tr>
                        </table>
                    </ng-template>
                </app-combobox>

                <app-combobox #cboTiepNhan id="yeuCauTiepNhan" fxFlex="15%" fxFlex.sm="15%" class="mt-1 on-header" label="Người bệnh"
                    url="BaoCao/GetMaYeuCauTiepNhanTheoHinhThucDenCoTatCa" [(model)]="baoCaoSearch.MaYeuCauTiepNhan"
                    [queryInfo]="{ParameterDependencies:'{HinhThucDenId:' + (baoCaoSearch.HinhThucDenId == undefined ? null : baoCaoSearch.HinhThucDenId) +', NoiGioiThieuId:' + (baoCaoSearch.NoiGioiThieuId == undefined ? null : baoCaoSearch.NoiGioiThieuId) +' }', Take: 50}"
                    popupSettings="null" [templateHeader]="tiepNhanTemplateHeader" [template]="tiepNhanemplate"
                    (modelChange)="changeMaTiepNhan($event)" [bind]="true">
                    <ng-template #tiepNhanTemplateHeader let-dataItem>
                        <table width="100%" class="table-combobox">
                            <tr>
                                <th width="40%">Mã TN</th>
                                <th>Họ tên</th>
                            </tr>
                        </table>
                    </ng-template>
                    <ng-template #tiepNhanemplate let-dataItem>
                        <table width="100%" class="table-combobox">
                            <tr>
                                <td width="40%">{{dataItem.MaYeuCauTiepNhan}}</td>
                                <td>{{dataItem.TenNguoiBenh}}</td>
                            </tr>
                        </table>
                    </ng-template>
                </app-combobox>

                <app-datetimepicker fxFlex="15%" [(model)]="baoCaoSearch.TuNgayFormat" #tiepnhantu id="TuNgayFormat"
                    [maxDate]="baoCaoSearch.DenNgayFormat" label="Từ ngày" class="mt-1 on-header">
                </app-datetimepicker>

                <app-datetimepicker fxFlex="15%" [(model)]="baoCaoSearch.DenNgayFormat" #tiepnhanden id="DenNgayFormat"
                    [minDate]="baoCaoSearch.TuNgayFormat" class="mt-1 on-header" label="Đến ngày">
                </app-datetimepicker>

                <!-- <div class="h-15 mt-2" fxFlex="30%">
                    <div class="bg-card rounded-full border" fxFlex="100%" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
                        fxLayoutAlign="start center" style="margin-top: 2px;">
                        <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
                        <input [formControl]="searchCtrl" class="px-4 py-2 border-0 outline-none w-full bg-transparent" type="search"
                            name="searchString" [(ngModel)]="baoCaoSearch.SearchString" placeholder="Tìm kiếm Mã tiếp nhận, Họ tên, Mã người bệnh" />
                    </div>
                    <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
                        <mat-icon [icIcon]="icSearch"></mat-icon>
                    </button>
                </div> -->

                <div fxFlex="auto" fxFlex.sm="auto" class="pb-0">
                    <button type="button" color="primary" mat-raised-button mat-button class="mr-1 mt-2"
                        (click)="XemBaoCao()">Xem Báo Cáo</button>
                    <button type="button" color="primary" mat-raised-button mat-button class="mr-1 mt-2"
                        (click)="exportExcel()">Xuất Excel</button>
                </div>

                <div fxFlex="100%" fxFlex.sm="100%" class="pb-0">
                    <app-grid [gridColumns]="gridColumns" [useAddDeault]="false"
                        [checkboxAble]="false" [autoHeight]="true" [lazyLoadPage]="true" [useHeaderDefault]="false"
                        [useActionDefault]="false" [documentType]="documentType" [pageable]="true" [showStt]="true"
                        urlGetData="BaoCao/GetDataBaoCaoTongHopCongNoChuaThanhToanForGrid" urlGetTotalPage="BaoCao/GetTotalPageBaoCaoTongHopCongNoChuaThanhToanForGrid">
                    </app-grid>
                    <ng-template #tongTienTitleTemplate let-dataItem>
                        <strong>
                            Tổng TT:
                        </strong>
                    </ng-template>

                    <ng-template #cLSTemplate let-dataItem>
                        {{dataItem.ChiPhiCanLamSan | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #cLSNgoaiTruTemplate let-dataItem>
                        {{dataItem.ChiPhiCanLamSanNgoaiTru | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #cLSNoiTruTemplate let-dataItem>
                        {{dataItem.ChiPhiCanLamSanNoiTru | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #giuongTemplate let-dataItem>
                        {{dataItem.ChiPhiGiuong | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #thuocVatTuTemplate let-dataItem>
                        {{dataItem.ChiPhiThuocVTYT | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #thuocTemplate let-dataItem>
                        {{dataItem.ChiPhiThuoc | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #vatTuTemplate let-dataItem>
                        {{dataItem.ChiPhiVTYT | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #testCovidTemplate let-dataItem>
                        {{dataItem.TestCovid | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #suatAnTemplate let-dataItem>
                        {{dataItem.SuatAn | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #khachThanhToanTemplate let-dataItem>
                        {{dataItem.NguoiBenhDaThanhToan | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #chiPhiTemplate let-dataItem>
                        {{dataItem.ChiPhiCaPhauThuat | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #raVienTemplate let-dataItem>
                        <app-checkbox id="raVien{{dataItem.YeucauTiepNhanId}}" label="" [(model)]="dataItem.RaVien" [disabled]="true">
                        </app-checkbox>
                    </ng-template>

                    <ng-template #tongTienCLSTemplate >
                        {{tongTienCLS | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #tongTienCLSNgoaiTruTemplate >
                        {{tongTienCLSNgoaiTru | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #tongTienCLSNoiTruTemplate >
                        {{tongTienCLSNoiTru | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #tongTienGiuongTemplate >
                        {{tongTienGiuong | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #tongTienThuocVatTuTemplate >
                        {{tongTienThuocVatTu | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #tongTienThuocTemplate >
                        {{tongTienThuoc | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #tongTienVatTuTemplate >
                        {{tongTienVatTu | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #tongTienTestCovidTemplate >
                        {{tongTienTestCovid | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #tongTienSuatAnTemplate >
                        {{tongTienSuatAn | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #tongTienKhachThanhToanTemplate >
                        {{tongTienKhachThanhToan | number:'0.2-2':'vi-VN'}}
                    </ng-template>

                    <ng-template #tongChiPhiTemplate >
                        {{tongChiPhi | number:'0.2-2':'vi-VN'}}
                    </ng-template>
                </div>
            </div>

        </div>
    </vex-page-layout-content>
</vex-page-layout>