<app-header-form [isicMoreVert]="false" [crumbs]="[
    { Title: 'Marketing', Path: '' },
    { Title: 'Quà Tặng', Path: '/marketing/qua-tang', Active: true }]">
</app-header-form>

<div [@stagger]="true" class="p-gutter" vexContainer>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div @fadeInUp class="card" fxFlex="auto">
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title m-0">Chỉnh Sửa Quà Tặng</h2>
            </div>

            <div class="px-6 py-4" fxLayout="column">
                <app-qua-tang-shared></app-qua-tang-shared>
                
                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                    <app-formfooter [bodyComponent]="shared" type="update" (updated)="onUpdated()"></app-formfooter>
                </div>
            </div>
        </div>
    </div>

</div>
