.button-ngay-dieu-tri{
    background-color: #005dab;
    color: white;
    width: 20px;
    height: 23px;
    cursor: pointer !important;
} 

.button-content{
    padding: 0 5px 0 5px;
    border-color: black;
    border: 1px solid;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer !important;
}

.content-no-item{
    height: 60vh;
    text-align: center;
    padding-top: 30vh;
}