<app-header-form [isicMoreVert]="false" [crumbs]="[
                {Title:'Danh Mục',Path:''}
                ,{Title:'Nhóm Hệ Thống',Path:''}
                ,{Title:'Kho', Path:''}
                ,{Title:'Kho Dược Phẩm/ Vật Tư Y Tế',Path:'/danh-muc/nhom-he-thong/kho/kho-duoc-pham-vat-tu-y-te', Active: true}
                ]"></app-header-form>

<div [@stagger]="true" class="p-gutter" vexContainer>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div @fadeInUp class="card" fxFlex="auto">
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title m-0">Chỉnh Sửa Kho Dược Phẩm/ Vật Tư Y Tế</h2>
            </div>

            <div class="px-6 py-4" fxLayout="column">

                <app-kho-duoc-pham-share></app-kho-duoc-pham-share>

                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                    <app-formfooter [bodyComponent]="shared" type="update" (updated)="onUpdated()" (validateClient)="onValidate($event)"></app-formfooter>
                </div>
            </div>
        </div>
    </div>

</div>