<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="16px grid" fxLayoutGap.lt-sm="0"
    fxLayoutAlign="space-between">
    <app-textbox fxFlex="50%" fxFlex.sm="50%" maxlength="50" id="Ma" label="Mã" [required]="true"
        [(model)]="phamViHanhNghe.Ma" [validationerror]="'Ma' | validationerror:validationErrors">
    </app-textbox>
    <app-textbox id="Ten" fxFlex="50%" fxFlex.sm="50%" maxlength="250" [required]="true" [(model)]="phamViHanhNghe.Ten"
        label="Tên" [validationerror]="'Ten' | validationerror:validationErrors">
    </app-textbox>
    <app-textarea id="MoTa" fxFlex="100%" maxlength="2000" [(model)]="phamViHanhNghe.MoTa" label="Mô Tả"
        [validationerror]="'MoTa' | validationerror:validationErrors">
    </app-textarea>
</div>