.btn-select{
    min-width: 100px;
    color: #fff;
    background-color: #005dab;
    border: 1px #005dab;
}
.select{
    background-color: green;
    border: 1px solid green;
    color:#fff;
}
.not-available-select{
    border: 1px solid green;
}

.orange-button{
    background-color: orange;
    border: 1px solid orange;
}

.red-button{
    min-width: 100px;
    color: #fff !important;
    background-color: red;
    border: 1px solid red;
}

ul{
    &.tooltip-detail>li{
        padding-top: 1px;
    }
}