ul.inline > li{
    padding-right: 10px !important;
    padding-bottom: 0.625em;
    display: inline-block !important;
}

.po-h{
    color: #005dab;
    position: relative;
    top: 5px;
    left: 5px;
    mat-icon{
        display: contents;
    }
}

table#tbl-sinh-ton{
    // border:1px solid #ccc;
    display: inline-block;
    overflow-x: auto;
    white-space: nowrap;
    th, td{
        border:1px solid #ccc;
    }
} 

.btn-blue{
    color: #005dab;
}