<app-header-form [isicMoreVert]="false" [crumbs]="[
                {Title:'Nhập xuất',Path:''}
                ,{Title:'Dược phẩm',Path:''}
                ,{Title:'Dự trù mua',Path:''}
                ,{Title:'Yêu cầu dự trù mua dược phẩm',Path:'/nhap-xuat/duoc-pham/yeu-cau-mua-duoc-pham' , queryParams: {holdQuery : true}}
                ,{Title:'Tạo phiếu mua dược phẩm dự trù',Path:'',Active:true}
                                
                ]">
    ></app-header-form>
<div [@stagger]="true" class="p-gutter" vexContainer>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div @fadeInUp class="card" fxFlex="auto">
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title m-0">Lập dự trù mua dược phẩm</h2>
            </div>
            <div class="px-6 py-4" fxLayout="column">
                <app-lap-phieu-mua-duoc-pham-shared [trangThaiVo]="trangThaiVo"
                    [validationErrorsDuocPham]="validationErrors" [isCreate]="true">
                </app-lap-phieu-mua-duoc-pham-shared>

                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="form-footer">

                    <button type="button" title="Phím tắt: Esc" (click)="cancel()" mat-button
                        class="mr-1 align-right-fx"><i class="ft-arrow-left"></i> Hủy</button>
                    <button type="button" (click)="guiPhieuMuaDuocPham()" color="primary" mat-raised-button><i
                            class="ft-save"></i> Gửi</button>

                </div>
            </div>
        </div>
    </div>

</div>