<vex-page-layout>
    <vex-page-layout-header class="pb-15" fxLayout="column" fxLayoutAlign="center start">
        <div [class.px-gutter]="true" class="w-full flex justify-between">
            <vex-breadcrumbs [crumbs]="[
            {Title:'Nhập xuất',Path:''}
            ,{Title:'Dược phẩm',Path:''}
            ,{Title:'Dự trù mua',Path:''}
            ,{Title:'Yêu cầu dự trù mua dược phẩm',Path:'',Active:true}
            ]">
            </vex-breadcrumbs>
        </div>
    </vex-page-layout-header>
    <vex-page-layout-content [class.px-gutter]="true" class="-mt-6">
        <div class="card overflow-auto -mt-15">
            <app-grid [gridColumns]="gridColumns" [documentType]="documentType" [useActionDefault]="false"
                [lazyLoadPage]="true" [useHeaderDefault]="false" [allowSortDefault]="true" [checkboxAble]="false"
                pageSize="50" urlGetData="YeuCauMuaDuocPham/GetYeuCauMuaDuocPhamDataForGridAsync"
                urlGetTotalPage="YeuCauMuaDuocPham/GetYeuCauMuaDuocPhamTotalPageForGridAsync" [sort]="sort"
                [headerTemplate]="headerTemplate" [additionalSearchString]="additionalSearchString">

                <ng-template #ngayYeuCauTemplate let-dataItem>
                    {{dataItem.NgayYeuCauDisplay}}
                </ng-template>
                <ng-template #ngayTaiKhoaTemplate let-dataItem>
                    {{dataItem.NgayTaiKhoaDisplay}}
                </ng-template>
                <ng-template #ngayTaiKhoDuocTemplate let-dataItem>
                    {{dataItem.NgayTaiKhoDuocDisplay}}
                </ng-template>
                <ng-template #ngayTaiGiamDocTemplate let-dataItem>
                    {{dataItem.NgayTaiGiamDocDisplay}}
                </ng-template>

                <ng-template #tinhTrangTemplate let-dataItem>
                    <label *ngIf="dataItem.TinhTrang == 0" class="orange">
                        <span>Chờ duyệt</span>
                    </label>
                    <label *ngIf="dataItem.TinhTrang == 1" class="green">
                        <span>Đã duyệt</span>
                    </label>
                    <label *ngIf="dataItem.TinhTrang == 2" class="red">
                        <span>Từ chối</span>
                    </label>
                </ng-template>
                <ng-template #soPhieuTemplate let-dataItem>
                    <div class="text-center" kendoTooltip>
                        <a (click)="chinhSua(dataItem.Id)">
                            <p kendoTooltip class="reverse-ellipsis l" title="{{dataItem.SoPhieu}}">
                                {{dataItem.SoPhieu}}</p>
                        </a>
                    </div>
                </ng-template>
            </app-grid>

            <ng-template #headerTemplate>
                <div class="bg-app-bar p-0 h-15 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">

                    <app-checkbox name="co-duyet" (modelChange)="trangThaiCheckBox($event,'choduyet')" class="ml-2"
                        value="coduyet" [(model)]="danhSachYeuCauMuaThuoc.ChoDuyet" fxFlex.lt-md="auto" fxHide.xs
                        fxLayout="row" fxLayoutAlign="start center" label="Chờ duyệt">
                    </app-checkbox>

                    <app-checkbox name="co-duyet" (modelChange)="trangThaiCheckBox($event,'daduyet')" class="ml-2"
                        value="coduyet" [(model)]="danhSachYeuCauMuaThuoc.DaDuyet" fxFlex.lt-md="auto" fxHide.xs
                        fxLayout="row" fxLayoutAlign="start center" label="Đã duyệt">
                    </app-checkbox>
                    <app-checkbox name="co-duyet" (modelChange)="trangThaiCheckBox($event,'tuchoi')" class="ml-2"
                        value="coduyet" [(model)]="danhSachYeuCauMuaThuoc.TuChoiDuyet" fxFlex.lt-md="auto" fxHide.xs
                        fxLayout="row" fxLayoutAlign="start center" label="Từ chối">
                    </app-checkbox>


                    <div class="bg-card rounded-full border px-4" fxFlex="400px" fxFlex.lt-md="auto" fxHide.xs
                        fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px;margin-left: 10px;">
                        <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
                        <input [formControl]="searchCtrl" class="px-4 py-2 border-0 outline-none w-full bg-transparent"
                            type="search" name="searchString" [(ngModel)]="danhSachYeuCauMuaThuoc.SearchString"
                            (keyup)="onKey($event)" (ngModelChange)="searchChanges($event)"
                            placeholder="Nhập từ khóa..." />
                    </div>
                    <app-daterangepicker style="margin-left: 5px;" id="range-ngay-yeu-cau" fxFlex="250px"
                        fxFlex.sm="auto" [(model)]="danhSachYeuCauMuaThuoc.RangeFromDate"
                        label="Yêu cầu từ ngày - đến ngày" (keyup)="onKey($event)"
                        (modelChange)="changeNgayBatDauRange()" (blur)="blur()" class="mt-1 on-header">
                    </app-daterangepicker>


                    <span fxFlex></span>
                    <button [matMenuTriggerFor]="columnFilterMenu" fxFlex="none" class="mr-4" mat-icon-button
                        kendoTooltip title="Lọc cột" type="button">
                        <mat-icon [icIcon]="icFilterList"></mat-icon>
                    </button>

                    <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
                        <div *ngFor="let column of gridColumns">
                            <button *ngIf="column.Title != ''"
                                class="checkbox-item mat-menu-item mat-checkbox mat-primary mat-checkbox-disabled _mat-animation-noopable ng-untouched ng-pristine mat-checkbox-checked">
                                <mat-checkbox [disabled]="true" color="primary">
                                    {{ column.Title }}
                                </mat-checkbox>
                            </button>
                        </div>
                    </mat-menu>

                    <button class="ml-4 right" style="right: 20px;" type="button" mat-icon-button (click)="XuatExcel()"
                        kendoTooltip title="Xuất Excel" fxFlex="none">
                        <mat-icon [icIcon]="icFileExcel"></mat-icon>
                    </button>
                    <button (click)="taoPhieuMuaThuoc()" class="ml-4 right" style="right: 20px;" color="primary"
                        fxFlex="none" mat-mini-fab kendoTooltip title="Tạo phiếu" type="button">
                        <mat-icon [icIcon]="icAdd"></mat-icon>
                    </button>

                </div>
            </ng-template>

            <ng-template #actionTemplate let-dataItem>
                <button kendoTooltip title="Hành động" [matMenuTriggerFor]="actionsMenu" mat-icon-button type="button">
                    <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
                </button>
                <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
                    <ng-template let-customer="customer" matMenuContent>
                        <button *ngIf="dataItem.TinhTrang == 0 && dataItem.IsKhoaDuyet == null"
                            (click)="chinhSua(dataItem.Id)" mat-menu-item>
                            <mat-icon [icIcon]="icEdit"></mat-icon>
                            <span>Sửa</span>
                        </button>
                        <button *ngIf="dataItem.TinhTrang == 0 && dataItem.IsKhoaDuyet == null"
                            (click)="xoa(dataItem.Id)" mat-menu-item>
                            <mat-icon [icIcon]="icDelete"></mat-icon>
                            <span>Xóa</span>
                        </button>
                        <button (click)="inPhieu(dataItem.Id, dataItem.NhomDuocPhamDuTru)" mat-menu-item>
                            <mat-icon [icIcon]="icPrint"></mat-icon>
                            <span>In phiếu</span>
                        </button>
                    </ng-template>
                </mat-menu>
            </ng-template>
        </div>
    </vex-page-layout-content>
</vex-page-layout>