<app-header-form  [crumbs]="[ {Title:'Danh Mục',Path:''}
                            ,{Title:'Nhóm Hệ Thống',Path:''}
                            ,{Title:'Nội Dung Mẫu'}
                            ,{Title:'Nội dung Mẫu Xuất Ra PDF',Path:'/danh-muc/nhom-he-thong/noi-dung-mau/noi-dung-mau-xuat-ra-pdf',Active:true}
                            ]"
                [isicMoreVert]="false">
</app-header-form>
<div [@stagger]="true" class="p-gutter" vexContainer>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div @fadeInUp class="card" fxFlex="auto">
            <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title m-0">Chỉnh Sửa Nội Dung Mẫu Xuất Ra PDF</h2>
            </div>

            <div class="px-6 py-4" fxLayout="column">

                <app-noi-dung-mau-pdf-share></app-noi-dung-mau-pdf-share>

                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                        <app-formfooter [bodyComponent]="shared" type="update" (updated)="onUpdated()"></app-formfooter>
                </div>
            </div>
        </div>
    </div>

</div>