<vex-page-layout>
    <vex-page-layout-header class="pb-15" fxLayout="column" fxLayoutAlign="center start">
        <div [class.px-gutter]="true" class="w-full flex justify-between">           
            <vex-breadcrumbs [crumbs]="[ {Title:'Nhập xuất',Path:''},
            {Title:'Dược phẩm',Path:''},
            {Title:'Hoàn trả',Path:''},
            {Title:'Duyệt hoàn trả',Path:'/nhap-xuat/duoc-pham/duyet-hoan-tra-duoc-pham', Active: true}]">
            </vex-breadcrumbs>
        </div>
    </vex-page-layout-header>
    <vex-page-layout-content [class.px-gutter]="true" class="-mt-6">
        <div class="card overflow-auto -mt-15">
            <app-grid [gridColumns]="gridChaColumns" [documentType]="documentType" [useHeaderDefault]="false"
                [useAddDeault]="false" [useAddDeault]="false" [useActionDefault]="false" [checkboxAble]="false"
                [headerTemplate]="headerTemplate" [detailTemplate]="detailTemplate"
                [additionalSearchString]="theFirstSearch" #gridCha [urlGetData]="urlGetDataGridParentAsync"
                [sort]="sortDuyetKho">
            </app-grid>
            <ng-template #detailTemplate let-dataItem>
                <app-grid [gridColumns]="gridConColumns" [documentType]="documentType" [useAddDeault]="false"
                    [useHeaderDefault]="false" [useActionDefault]="false" [checkboxAble]="false" pageSize="5"
                    [sort]="sortDuyetKhoChild" [urlGetData]="urlGetDataGridChildAsync"
                    additionalSearchString={{dataItem.Id}} [autoHeight]="true"
                    [groups]="groups"  [urlGetTotalPage]="urlGetTotalPageGridChild">
                </app-grid>
            </ng-template>
            
            <ng-template #headerTemplate>
                <div class="bg-app-bar p-0 h-15 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                    <app-checkbox (modelChange)="CheckboxChange($event, true)" id="DangChoDuyetId"
                        [(model)]="duyetHoanTraDuocPham.DangChoDuyet" class="ml-2" label="Đang chờ duyệt">
                    </app-checkbox>
                    <app-checkbox (modelChange)="CheckboxChange($event, false, true)" id="TuChoiDuyetId"
                        [(model)]="duyetHoanTraDuocPham.TuChoiDuyet" class="ml-2" label="Từ chối duyệt">
                    </app-checkbox>
                    <app-checkbox (modelChange)="CheckboxChange($event, false, false, true)" id="DaDuyetId"
                        [(model)]="duyetHoanTraDuocPham.DaDuyet" class="ml-2" label="Đã duyệt">
                    </app-checkbox>
                    <div class="bg-card rounded-full border mb-1 ml-2" fxFlex="400px" fxFlex.lt-md="auto" fxHide.xs
                        fxLayout="row" fxLayoutAlign="start center">
                        <ic-icon class="ml-4" [icIcon]="icSearch" size="20px"></ic-icon>
                        <input [formControl]="searchCtrl" class="px-4 py-2 border-0 outline-none w-full bg-transparent"
                            type="search" name="searchString" [(ngModel)]="duyetHoanTraDuocPham.SearchString"
                            (keyup)="onKey($event)" (ngModelChange)="clearSearch()" placeholder="Nhập từ khóa..." />
                    </div>
                    <app-daterangepicker style="margin-left: 5px;" id="RangeNhap" fxFlex="250px" fxFlex.sm="auto"
                        [(model)]="duyetHoanTraDuocPham.RangeYeuCau" label="Yêu cầu từ ngày - Đến ngày"
                        (keyup)="onKeyNgayNhap($event)" (modelChange)="changeNgayNhapRange($event)"
                        class="mt-1 on-header">
                    </app-daterangepicker>

                    <app-daterangepicker style="margin-left: 5px;" id="RangeDuyet" fxFlex="250px" fxFlex.sm="auto"
                        [(model)]="duyetHoanTraDuocPham.RangeDuyet" label="Duyệt từ ngày - Đến ngày"
                        (keyup)="onKeyNgayDuyet($event)" (modelChange)="changeNgayDuyetRange($event)"
                        class="mt-1 on-header">
                    </app-daterangepicker>

                    <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
                        <mat-icon [icIcon]="icSearch"></mat-icon>
                    </button>

                    <span fxFlex></span>
                    
                    <button [matMenuTriggerFor]="columnFilterMenu" class="mr-4" fxFlex="none" mat-icon-button
                        kendoTooltip title="Lọc cột" type="button">
                        <mat-icon [icIcon]="icFilterList"></mat-icon>
                    </button>

                    <button (click)="exportExcel()" class="mr-4" fxFlex="none" mat-icon-button kendoTooltip title="Xuất Excel"
                        type="button">
                        <mat-icon [icIcon]="icFileExcel"></mat-icon>
                    </button>

                    <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
                        <div *ngFor="let column of filterColumns">
                            <button
                                class="checkbox-item mat-menu-item mat-checkbox mat-primary mat-checkbox-disabled _mat-animation-noopable ng-untouched ng-pristine mat-checkbox-checked">
                                <mat-checkbox [disabled]="true" color="primary">
                                    {{ column.Title }}
                                </mat-checkbox>
                            </button>
                        </div>
                    </mat-menu>
                </div>
            </ng-template>

            <ng-template #groupTemplate let-dataItem >
                <button (click)="$event.stopPropagation()" kendoTooltip title="Hành động" [matMenuTriggerFor]="actionsMenu" 
                    mat-icon-button type="button">
                    <!-- *ngIf="dataItem.ClassTrangThai === 'da_duyet'" -->
                    <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
                </button>
                <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
                    <ng-template let-customer="customer" matMenuContent>
                        <button (click)="inYeuCauHoanTraDuocPham(dataItem.Id)" mat-menu-item >
                            <!-- *ngIf="dataItem.ClassTrangThai === 'da_duyet'" -->
                            <mat-icon [icIcon]="icPrint"></mat-icon>
                            <span>In</span>
                        </button>
                    </ng-template>
                </mat-menu>
            </ng-template>
        </div>
    </vex-page-layout-content>
</vex-page-layout>

<ng-template #TinhTrangTemplate let-dataItem>
    <span *ngIf="dataItem.ClassTrangThai === 'dang_cho_duyet'"
        class="{{dataItem.ClassTrangThai}}">{{dataItem.TinhTrangDuyet}}</span>
    <span *ngIf="dataItem.ClassTrangThai === 'da_duyet'"
        class="{{dataItem.ClassTrangThai}}">{{dataItem.TinhTrangDuyet}}</span>
    <span *ngIf="dataItem.ClassTrangThai === 'tu_choi_duyet'"
        class="{{dataItem.ClassTrangThai}}">{{dataItem.TinhTrangDuyet}}</span>
</ng-template>
<ng-template #TinhTrangBHYTTemplate let-dataItem>
    <!-- <app-checkbox value="true" label="" [(model)]="dataItem.LoaiBHYT" [disabled]="true">
    </app-checkbox> -->
    {{dataItem.LoaiBHYTDisplay}}
</ng-template>
<ng-template #soPhieuTemplate let-dataItem>
    <a (click)="xemChiTiet(dataItem.Id)">
        {{dataItem.SoPhieu}}</a>
</ng-template>

<ng-template #nhomGroupHeaderTemplate let-value="value">
    <strong>{{value}}</strong>
</ng-template>

<ng-template #giaNhapTemplate let-dataItem>
    {{dataItem.DonGiaNhap | number:'0.2-2':'vi-VN'}}
</ng-template>

<ng-template #giaBanTemplate let-dataItem>
    {{dataItem.GiaBan | number:'0.2-2':'vi-VN'}}
</ng-template>

<ng-template #ngayYeuCauTemplate let-dataItem>
    {{dataItem.NgayYeuCauDisplay}}
</ng-template>

<ng-template #ngayDuyetTemplate let-dataItem>
    {{dataItem.NgayDuyetDisplay}}
</ng-template>

<ng-template #hsdTemplate let-dataItem>
    {{dataItem.HanSuDungDisplay}}
</ng-template>

<ng-template #soLuongHoanTraTemplate let-dataItem>
    {{dataItem.SoLuongHoanTraDisplay}}
</ng-template>