<vex-page-layout>
    <vex-page-layout-header class="pb-15" fxLayout="column" fxLayoutAlign="center start">
        <div [class.px-gutter]="true" class="w-full flex justify-between">
            <div>
                <vex-breadcrumbs [crumbs]="[
                    {Title:'Danh Mục',Path:''}
                    ,{Title:'Nhóm Hệ Thống',Path:''}
                    ,{Title:'Hành Chính',Path:''}
                    ,{Title:'Nghề Nghiệp',Path:'/danh-muc/nhom-he-thong/hanh-chinh/nghe-nghiep',Active:true}
                    ]">
                </vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>
    <vex-page-layout-content [class.px-gutter]="true" class="-mt-6">
        <div class="card overflow-auto -mt-15">
            <app-grid baseRoute="/danh-muc/nhom-he-thong/hanh-chinh/nghe-nghiep" [gridColumns]="gridColumns"
                [documentType]="documentType" [useActionDefault]="true" [lazyLoadPage]="true" 
                [showExportExcel]="true" (extExportExcel)="exportExcel()"></app-grid>
            <ng-template #trangThaiTemplate let-dataItem>
                <button *ngIf="dataItem.IsDisabled == 1" (click)="updateNgheNghiep(dataItem.Id,dataItem.IsDisabled)"
                    mat-menu-item>
                    <mat-icon [icIcon]="icClose" color="warn"></mat-icon><span>Ngừng sử dụng</span>
                </button>
                <button *ngIf="dataItem.IsDisabled != 1" (click)="updateNgheNghiep(dataItem.Id,dataItem.IsDisabled)"
                    mat-menu-item>
                    <mat-icon [icIcon]="icicdone" color="primary"></mat-icon><span>Đang sử dụng</span>
                </button>
            </ng-template>
        </div>
    </vex-page-layout-content>
</vex-page-layout>