.size-icon{   
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color:green;    
    color: #FFF;
    text-align: center;  
}
.yellowText{
    color: yellowgreen;
}
.redText{ 
    color:red; 
}
.greenText{
     color:green;
}
.orangeText{
    color: orange;
}
.blueText{
    color:blue;
}